<template>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card mt-5">
        <div class="row no-gutters">
          <div class="col-md-7 col-lg-7">
            <img
              src="assets/img/masuk.png"
              alt="login"
              class="login-card-img"
            />
          </div>
          <div class="col-md-5 col-lg-5">
            <div class="card-body">
              <p class="login-card-description">Masuk ke akun <img src="/images/header.png" alt="" style="margin-top:-13px; width: 25%;"></p>
              <form @submit.prevent="signin">
                <div class="form-group">
                  <label for="email" class="sr-only">Email</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    :class="{ 'is-invalid' : emailvalidate}"
                    class="form-control"
                    placeholder="Email address"
                    v-model="email"
                  />
                </div>
                <div class="invalid-feedback text-left">{{this.emailerror}}</div>
                <div class="form-group mb-4">
                  <label for="password" class="sr-only">Password</label>
                  <input
                    :type="passwordFieldType"
                    name="password"
                    id="password"
                    :class="{'is-invalid' : passwordvalidate }"
                    class="form-control"
                    placeholder="Password"
                    v-model="password"
                  />
                </div>
                <div class="invalid-feedback text-left">{{this.passworderror}}</div>
                <div class="mb-3">
                  <vue-recaptcha sitekey="6Lf8aiUaAAAAANy2osr6-CVOMfG13mQBDNZT_krF"></vue-recaptcha>
                </div>
                <button type="submit" class="btn-block login-btn" value="Login"> Login
                  
                    <!-- <input
                      name="login"
                      id="login"
                      class="btn btn-block"
                      type="button"
                      value="Login"
                  /> -->
                </button>
              </form>
              <a
                href="#!"
                class="forgot-password-link text-right"
                data-toggle="modal"
                data-target="#exampleModal"
                >Lupa Password</a
              >
              <p class="login-card-footer-text">
                Belum memiliki akun ?
                <a href="/daftar" class="text-reset">Daftar disni</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body text-center mt-3 text-warning">Uemka</div>
            <div class="row text-center">
              <div class="col">
                <div class="mb-5">
                  <h4 class="font-weight-bold">Lupa Password</h4>
                  <p>Silahkan masukkan alamat email Anda</p>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-9">
                <form>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Email Anda</label>
                    <input
                      type="email"
                      class="form-control"
                      id="exampleFormControlInput1"
                      placeholder="name@example.com"
                    />
                  </div>
                  <div class="kontent">
                    <p>Kami akan mengirimkan link untuk reset password Anda</p>
                  </div>
                </form>
                <div class="text-center mb-5 mt-5">
                  <button
                    type="submit"
                    class="btn btn-warning"
                    data-toggle="modal"
                    data-target="#exampleModal1"
                  >
                    Kirim
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- OK -->
      <div
        class="modal fade"
        id="exampleModal1"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body text-center mt-3 text-warning">Uemka</div>
            <div class="row text-center">
              <div class="col">
                <div class="mb-5">
                  <h4 class="font-weight-bold">Masukkan Token Otp</h4>
                  <p>Kode OTP anda sudah dikirim nomor Anda</p>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-9">
                <form>
                  <div class="d-flex flex-row">
                    <input type="text" class="form-control" autofocus="" />
                    <input type="text" class="form-control" autofocus="" />
                    <input type="text" class="form-control" autofocus="" />
                    <input type="text" class="form-control" autofocus="" />
                    <input type="text" class="form-control" autofocus="" />
                    <input type="text" class="form-control" autofocus="" />
                  </div>
                  <div class="kontent mt-5 text-center">
                    <a href="#">Kirim ulang kode OTP</a>
                  </div>
                </form>
                <div class="text-center mb-3 mt-3">
                  <button
                    class="btn btn-warning"
                    data-toggle="modal"
                    data-target="#exampleModal2"
                  >
                    Kirim
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Target -->

       <div
        class="modal fade"
        id="exampleModal2"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body text-center mt-3 text-warning">Uemka</div>
            <div class="row text-center">
              <div class="col">
                <div class="mb-5">
                  <h4 class="font-weight-bold">Masuk Password Baru</h4>
                  
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-9">
                <form>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Password Baru</label>
                    <input
                      type="password"
                      class="form-control"
                      id="exampleFormControlInput1"
                      placeholder="password baru"
                    />
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Konfirmasi Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="exampleFormControlInput1"
                      placeholder="Konfirmasi Password"
                    />
                  </div>
                
                </form>
                <div class="text-center mb-5 mt-3">
                  <button
                    type="submit"
                    class="btn btn-warning"
                    data-toggle="modal"
                    data-target="#exampleModal1"
                  >
                    Kirim
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Change 2 password -->
    </div>
  </main>
</template>
<style scoped>
.container {
  height: 100vh;
}

body {
  background: #eee;
}

.mobile-text {
  color: #989696b8;
  font-size: 15px;
}

.form-control {
  margin-right: 12px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ff8880;
  outline: 0;
  box-shadow: none;
}

.cursor {
  cursor: pointer;
}
/*  */
.modal-content {
  width: 455px;
  height: 400px;
}
.modal-content h4 p {
  margin-top: -20px !important;
}
.modal-content p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.modal-content .kontent p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.modal-content .kontent a {
  font-family: "Manrope";
  color: #495057;
  font-style: normal;

  font-weight: normal;
  font-size: 12px;
}

.modal-content button {
  padding: 10px 28px;
  border-radius: 3px;
}
</style>
<script>
import axios from "axios";
import VueRecaptcha from "vue-recaptcha";
import { required, email, minLength } from "vuelidate/lib/validators";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
  components: {
    VueRecaptcha,
  },
  name: 'sigin',
  data() {
    return {
      email: '',
      emailerror:'',
      password: '',
      passworderror: '', 
      passwordFieldType: "password"
    }
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(8)
    },
  },
  computed: {
    emailvalidate: function() {
      this.emailvalidation()
      return this.$v.email.$error;
    },
    passwordvalidate: function() {
      this.passwordvalidation()
      return this.$v.password.$error;
    },
  },
  switchVisibility() {
    this.passwordFieldType =
    this.passwordFieldType === "password" ? "text" : "password";
  },
  methods: {
    emailvalidation() {
      if (this.$v.email.$error) {
        if (!this.$v.email.email) {
          this.emailerror = "Field Harus Berformat Email";
        }
        else {
          this.emailerror = "field Harus Diisi";
        }
      }
    },
    passwordvalidation() {
      if (this.$v.password.$error) {
        if (!this.$v.password.minLength) {
          this.passworderror = "Password Minimal 8 Karakter";
        }
        else {
          this.passworderror = "field Harus Diisi";
        }
      }
    },
    signin() {
      this.$v.$touch();
      if (this.$v.$error === false  && this.email !=="" && this.password !== "") {
        let loader = this.$loading.show();
        // console.log(this.$loading.show());
        axios.post('https://uemka.sitama.co.id/api/auth/login', {
        email: this.email,
        password: this.password
      }).then(response => {
          if (response.data.meta.code == 200) {
            window.localStorage.clear()
            this.$session.start()
            this.$session.set('uemka', response)
            localStorage('authUser', true)
            loader.hide()
            this.$swal.fire({
              icon: "success",
              title: "Login berhasil",
              text: "Mohon tunggu sebentar"
            })
            setTimeout(() => {
              this.$router.push({name : 'updateprofile'})
            },2000)
            // this.$router.push({name : 'updateprofile'})
          } else {
            loader.hide()
            this.$swal.fire({
              icon: "error",
              title: "Login gagal",
              text: response.data.meta.message
            })
          }
          // this.$router.push({name : 'updateprofile'})
          // console.log(this.email,this.password)
          const token = response.data.access_token
          console.log(response.data)
      }).catch(() => {
      });
    } 
    else {
      let loader = this.$loading.show();
      this.$swal.fire({
        icon: "error",
        title: "Gagal Login",
        text: "Coba cek koneksi jaringan anda"
      })
      setTimeout(() => {
        loader.hide()
      }, 2000);
    }
  }
}
}
</script>