<template>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-6">
            <img
              src="assets/img/masuk.png"
              alt="login"
              class="login-card-img"
            />
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <p class="login-card-description">Buka Akun <img src="/images/header.png" alt="" style="margin-top:-13px;width:17%;"></p>
              <form @submit.prevent="register">
                
                <!-- <div class="form-group">
                  <label for="name" class="sr-only">Name</label>
                  <input
                    type="name"
                    name="name"
                    id="name"
                    v-model="name"
                    class="form-control"
                    placeholder=" Nama Lengkap Anda"
                  />
                  <label for="email" class="sr-only">No Telpon</label>
                  <input
                    type="number"
                    name="no_telp"
                    id="no_telp"
                    v-model="no_telp"
                    class="form-control"
                    placeholder="Nomor Handphone"
                  />
                </div>
                <div class="form-group mb-4">
                  <label for="email" class="sr-only">Email</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    v-model="email"
                    class="form-control"
                    placeholder="Masukan Email anda"
                  />
                  <label for="password" class="sr-only">Password</label>
                  <input
                    type="password"
                    id="psw"
                    name="psw"
                    class="form-control"
                    placeholder="Password"
                 
                  />
                  <label for="password2" class="sr-only">Password</label>
                  <input
                  
                    type="password"
                    id="psw"
                    name="psw"
                    class="form-control"
                    placeholder="Konfirmasi password"
                  
                  />        
                          
                </div>          -->
              

              <div>
  <div class="form-group" :class="{ 'form-group--error': $v.form.userName.$error }">
    <label for="name" class="sr-only form__label">Name</label>
     <input  type="name" name="name" id="name" v-model="name" class="form-control" placeholder=" Nama Lengkap Anda" v-model.trim="$v.form.userName.$model"/>
    <label for="name" class="sr-only form__label">No Handphone</label>
    <input  type="number" name="name" id="name" v-model="name" class="form-control" placeholder="No Handphone" v-model.trim="$v.form.userName.$model"/>
    <label for="name" class="sr-only form__label">Email</label>
    <input  type="email" name="name" id="name" v-model="name" class="form-control" placeholder=" Alamat Email" v-model.trim="$v.form.userName.$model"/>
  </div>

  <div class="form-group" :class="{ 'form-group--error': $v.password.$error }">
   <label for="password" class="sr-only form__label">Password</label>
    <input  type="password" name="psw" id="psw" v-model="Password" class="form-control" placeholder="Password" v-model.trim="$v.password.$model">
  </div>
  <div class="error" v-if="!$v.password.required">Password is required.</div>
  <div class="error" v-if="!$v.password.minLength">Password must have at least {{ $v.password.$params.minLength.min }} letters.</div>
  <div class="form-group" :class="{ 'form-group--error': $v.repeatPassword.$error }">
    <label for="password" class="sr-only form__label">Password</label>
    <input  type="password" name="psw" id="psw" v-model="Password" class="form-control" placeholder="Konfirmasi Password" v-model.trim="$v.repeatPassword.$model"/>
  </div>
  <div class="error" v-if="!$v.repeatPassword.sameAsPassword">Passwords must be identical.</div>
  
            <div class="error text-danger" v-if="!$v.form.userName.required">Bidang wajib diisi..</div>
            <div class="error text-danger" v-if="!$v.form.userName.minLength">Bidang harus memiliki setidaknya {{ $v.form.userName.$params.minLength.min }} characters.</div>
 
            <div class="error text-danger" v-if="!$v.form.password.required">Bidang wajib diisi..</div>
            <div class="error text-danger" v-if="!$v.form.password.minLength">Bidang harus memiliki setidaknya {{ $v.form.password.$params.minLength.min }} characters.</div>
            <div class="error text-danger" v-if="!$v.form.password.required">Bidang wajib diisi..</div>
            <div class="error text-danger" v-if="!$v.form.password.minLength">Bidang harus memiliki setidaknya {{ $v.form.password.$params.minLength.min }} characters.</div>
            <div class="form-group" :class="{ 'form-group--error': $v.form.$error }">
          <div class="error" v-if="$v.form.$error">Form is invalid.</div>
        </div>
       <tree-view :data="$v" :options="{rootObjectKey: '$v', maxDepth: 2}"></tree-view>
      </div>

                <button type="submit" class="btn btn-block login-btn">
                  Daftar
                </button>
            
              </form>
              <p class="login-card-footer-text ml-5">
                Sudah punya akun ?
                <a href="/masuk" class="text-reset">Masuk disini</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </main>
</template>
<style scoped>
title{
  color:red;
}
</style>
<script>
import { required, minLength } from 'vuelidate/lib/validators';
export default {
  data() {
    return {
      form: {
        userName: '',
        password: '',
        repeatPassword: ''
      }
    }
  },
  validations: {
    form: {
      userName: {
        required,
        minLength: minLength(5)
      },
      password: {
        required,
        minLength: minLength(8)
      },
    repeatPassword: {
      sameAsPassword: sameAs('password')
    }
    }
  }
}
// import { required, minLength, between } from 'vuelidate/lib/validators'
// import axios from 'axios'
// export default {
//   name: "signup",
//   data() {
//     return {
//       name: '',
//       email: '',
//       password: '',
//       serverError: "",
//       successMessage: "",
//     };
//   },
//   //  validations: {
//   //   name:{required,minLength: minLength(8)  },
//   //   email:{required,minLength: minLength(8)  },
//   //   password: {required,minLength: minLength(8)  },
//   //   repeatPassword: { sameAsPassword: sameAs('password')}
//   // },
  
//   methods: {
//     // register() {
//     //   this.$store
//     //     .dispatch("register", {
//     //       name: this.name,
//     //       email: this.email,
//     //       password: this.password,
//     //     })
//     //     .then((response) => {
//     //       this.successMessage = "Pendaftaran Berhasil, Silahkan Masukan OTP";
//     //       this.$router.push({
//     //         name: "Login.vue",
//     //         params: { dataSuccessMessage: this.successMessage },
//     //       });
//     //     })
//     //     .catch((error) => {
//     //       this.serverError = Object.values(error.response.data.errors);
//     //     });
//     // },
//     register(){
//       axios.post("https://uemka.sitama.co.id/api/auth/signup", 
//       {
//         name: this.name,
//         email: this.email,
//         password: this.password
//       })
//       .then((response) => {
//         this.$router.push({name: 'login'})
//         console.log(this.name,this.email,this.password)
//       })
//     }
//   },
 
// };
</script>