<template>
  <router-view></router-view>
</template>
<script>
export default {
  beforeCreate: function () {
    let all = document.createElement("link");
    all.type = "text/css";
    all.rel = "stylesheet";
    all.href = "sbadmin/vendor/fontawesome-free/css/all.min.css";
    document.head.appendChild(all);

    let sbadmin2 = document.createElement("link");
    sbadmin2.rel = "stylesheet";
    sbadmin2.href = "sbadmin/css/sb-admin-2.min.css";
    document.head.appendChild(sbadmin2);

    let dataTables = document.createElement("link");
    dataTables.rel = "stylesheet";
    dataTables.href = "sbadmin/vendor/datatables/dataTables.bootstrap4.min.css";
    document.head.appendChild(dataTables);

    // let jq = document.createElement("script");
    // jq.setAttribute("src", "sbadmin/vendor/jquery/jquery.min.js");
    // document.body.appendChild(jq);

    let bootstrapjs = document.createElement("script");
    bootstrapjs.href = "sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js";
    document.body.appendChild(bootstrapjs);

    let jqeasy = document.createElement("script");
    jqeasy.setAttribute(
      "src",
      "sbadmin/vendor/jquery-easing/jquery.easing.min.js"
    );
    document.body.appendChild(jqeasy);

    let sbjs = document.createElement("script");
    sbjs.setAttribute("src", "sbadmin/js/sb-admin-2.min.js");
    document.body.appendChild(sbjs);

    let jqdatatabel = document.createElement("script");
    jqdatatabel.setAttribute(
      "src",
      "sbadmin/vendor/datatables/jquery.dataTables.min.js"
    );
    document.body.appendChild(jqdatatabel);

    let jqbootstraptabel = document.createElement("script");
    jqbootstraptabel.setAttribute(
      "src",
      "sbadmin/vendor/datatables/dataTables.bootstrap4.min.js"
    );
    document.body.appendChild(jqbootstraptabel);

    let jqtabeldemo = document.createElement("script");
    jqtabeldemo.setAttribute("src", "sbadmin/js/demo/datatables-demo.js");
    document.body.appendChild(jqtabeldemo);
  },
};
</script>