<template>
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul
      class="navbar-nav bg-dark sidebar sidebar-dark accordion"
      id="accordionSidebar"
    >
      <!-- Sidebar - Brand -->
      <br />

      <a
        class="sidebar-brand d-flex align-items-center justify-content-center"
        href="/Dashboard"
      >
        <div class="sidebar-brand-text mx-3">
          <img src="./logo.png" alt="" />
        </div>
      </a>
      <br />

      <!-- Divider -->

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/Partner">
          <i class="fal fa-handshake"></i>

          <span>Partner</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Listartikel">
          <i class="fal fa-upload fa-2x"></i>
          <span>Artikel</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Listpromosi">
          <i class="fal fa-upload fa-2x"></i>
          <span>Promotion</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Listtestimonial">
          <i class="fal fa-upload fa-2x"></i>
          <span>Testimonial</span></a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link collapsed"
          href="#"
          data-toggle="collapse"
          data-target="#collapseUtilities"
          aria-expanded="true"
          aria-controls="collapseUtilities"
        >
          <i class="fal fa-file-chart-line"></i>
          <span>Report</span>
        </a>
        <div
          id="collapseUtilities"
          class="collapse"
          aria-labelledby="headingUtilities"
          data-parent="#accordionSidebar"
        >
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/Dashboard">
              <i class="fal fa-book mr-3"></i>Summary</a
            >
            <a class="collapse-item" href="/Payment">
              <i class="fal fa-dollar-sign mr-3"></i>
              Payment Billing</a
            >
            <a class="collapse-item" href="/Listpartner">
              <i class="fal fa-users-class mr-3"></i>List of Partner</a
            >
            <a class="collapse-item" href="/Listproduk">
              <i class="fal fa-clipboard-list-check mr-3"></i>List of Product</a
            >
            <a class="collapse-item" href="/applog">
              <i class="fal fa-cog mr-3"></i>Application Log</a
            >
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profilecms">
          <i class="fal fa-user-cog mr-3"></i>
          <span>Account Setting</span></a
        >
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->

      <!-- Divider -->
      <hr class="sidebar-divider" />

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->
  </div>
  <!-- End of Page Wrapper -->
</template>