<template>
  <section class="artikel-1">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>Artikel</h1>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-4" v-for="art in artikel" :key="art.idarticle">
          <div class="card">
            <img
              src="/assets/img/atm.png"
              class="card-img-top mb-3 img-responsive"
              alt="..."
            />
            <div class="card-body">
              <router-link  tag="a" :to="`/Pageartikel/${art.slug}`" class="card-text h5 mt-4 font-weight-bold"> {{ art.judul_article }} </router-link>
              <!-- <a href="/Pageartikel" class="card-text h5 mt-4 font-weight-bold"
                >{{ art.judul_article}}</a>
              <br /> -->
              <p class="mt-4">{{ moment(art.created_at).format('LLL') }}</p>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-4">
          <div class="card">
            <img src="/assets/img/hp.png" class="card-img-top mb-3" alt="..." />
            <div class="card-body">
              <a href="/Pageartikel" class="card-text h5 mt-4 font-weight-bold"
                >Corona Ganas Lagi, IHSG Diprediksi Terkoreksi</a
              >
              <br />
              <p class="mt-4">Senin, 23 Nov 2020 11:44 WIB</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img
              src="/assets/img/laptop.png"
              class="card-img-top mb-3"
              alt="..."
            />
            <div class="card-body">
              <a href="#" class="card-text h5 mt-4 font-weight-bold"
                >Gagal Bayar Rp 1,9 T, Indosterling Mulai Cicil Utang Desember
                2020</a
              >
              <br />
              <p class="mt-4">Senin, 23 Nov 2020 11:44 WIB</p>
            </div>
          </div>
        </div> -->
      </div>

      <!-- <div class="row mt-5">
        <div class="col-lg-4">
          <div class="card">
            <img
              src="/assets/img/emas.png"
              class="card-img-top mb-3 img-responsive"
              alt="..."
            />
            <div class="card-body">
              <a href="#" class="card-text h5 mt-4 font-weight-bold"
                >Dolar AS Melemah Lagi, Pagi Ini di Level Rp 14.140</a
              >
              <br />
              <p class="mt-4">Senin, 23 Nov 2020 11:44 WIB</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img
              src="/assets/img/pohon.png"
              class="card-img-top mb-3"
              alt="..."
            />
            <div class="card-body">
              <a href="#" class="card-text h5 mt-4 font-weight-bold"
                >Awal Pekan, IHSG Masih Melaju di Zona Hijau</a
              >
              <br />
              <p class="mt-4">Senin, 23 Nov 2020 11:44 WIB</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img
              src="/assets/img/dompet.png"
              class="card-img-top mb-3"
              alt="..."
            />
            <div class="card-body">
              <a href="#" class="card-text h5 mt-4 font-weight-bold"
                >Marak Gagal Bayar Investasi, Siapa Harus Tanggung Jawab?</a
              >
              <br />
              <p class="mt-4">Senin, 23 Nov 2020 11:44 WIB</p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>
</template>
<script>
import axios from 'axios'
import moment from 'moment'
import { URL_API } from '../constant/index.js'
export default {
  data() {
    return {
      artikel: []
    }
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData(event) {
      axios.post(URL_API + "api/auth/article").then(response => {
        this.artikel = response.data;
        console.log(this.artikel);
      });
    },
    // moment : function(date) {
    //   return moment(date).format('MMMM Do YYYY, h:mm:ss a');
    // }
    moment: function (date) {
      return moment(date);
    }
  }
}
</script>