<template>
  <div>
  <section id="whyme" class="whyme" style="background-color: #fdc134">
        <div class="container">
          <div class="container">
            <div class="section-title" data-aos="fade-up">
              <h1 style="color: #213b52">
                <strong>Koperasi Simpan Pinjam</strong>
              </h1>
            </div>
          </div>
 
          <div class="row">
            <div class="col-lg-4 mb-4" v-for="kos in kospin" :key="kos.idpartner">
              <div class="card">
                <div class="card-body text-center">
                  <div class="img">
                    <img :src="`https://file.sitama.co.id/storage/uemka/uemka/Partner${kos.image_partner}`" alt="" />
                  </div>
                  <div class="content-img">
                    <ul style="list-style: none">
                      <div v-html="kos.visimisi_partner"></div> 
                    </ul>
                  </div>
                  <button class="btn btn-dark">
                    <router-link  tag="a" :to="`/kspperusahaan/${kos.idpartner}`" style="color: #FDC134;">
                    <!-- <a href="/kspperusahaan" style="color: #FDC134;"> -->
                      Lihat Detail
                    <!-- </a> -->
                    </router-link>
                  </button>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="/assets/img/image2.png" alt="" />
                  <ul style="list-style: none">
                    <li>Pembiayaan mulai dari Rp 10jt</li>
                    <li>Tenor peminjaman 5 tahun</li>
                    <li>Free biaya provisi</li>
                    <li>Pencairan dana 2 hari</li>
                  </ul>
                  <button class="btn btn-dark">Lihat Detail</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="/assets/img/image 3.png" alt="" />
                  <ul style="list-style: none">
                    <li>Pembiayaan mulai dari Rp 10jt</li>
                    <li>Tenor peminjaman 5 tahun</li>
                    <li>Free biaya provisi</li>
                    <li>Pencairan dana 2 hari</li>
                  </ul>
                  <button class="btn btn-dark">Lihat Detail</button>
                </div>
              </div>
            </div> -->
          </div>
          <div class="text-center koperasi">
            <button class="btn btn-outline-dark">
              <a href="/Detailkspdankpr">
                Lihat lainnya
                <i class="fas fa-long-arrow-alt-left fa-rotate-180"></i>
              </a>
            </button>
          </div>
        </div>
      </section>

       <section id="whyme" class="whyme" style="background-color:#213b52 !important">
        <div class="container">
          <div class="container">
            <div class="section-title" data-aos="fade-up">
              <h1 style="color: #ffffff">
                <strong>Bank Perkreditan Rakyat</strong>
              </h1>
            </div>
          </div>
 
          <div class="row">
            <div class="col-lg-4" v-for="bp in bpr" :key="bp.idpartner">
              <div class="card">
                <div class="card-body text-center">
                  <div class="img">
                     <img img :src="`https://file.sitama.co.id/storage/uemka/uemka/Partner${bp.image_partner}`" alt="" />
                  </div>
                  <div class="content-img">
                    <ul style="list-style: none">
                      <div v-html="bp.visimisi_partner"></div> 
                    </ul>
                  </div>
                  <button class="btn btn-dark">
                    <router-link  tag="a" :to="`/kspperusahaan/${bp.idpartner}`" style="color: #FDC134;">
                    <!-- <a href="/kspperusahaan" style="color: #FDC134;"> -->
                      Lihat Detail
                    <!-- </a> -->
                    </router-link>
                  </button>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="/assets/img/image2.png" alt="" />
                  <ul style="list-style: none">
                    <li>Pembiayaan mulai dari Rp 10jt</li>
                    <li>Tenor peminjaman 5 tahun</li>
                    <li>Free biaya provisi</li>
                    <li>Pencairan dana 2 hari</li>
                  </ul>
                  <button class="btn btn-dark">Lihat Detail</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="/assets/img/image 3.png" alt="" />
                  <ul style="list-style: none">
                    <li>Pembiayaan mulai dari Rp 10jt</li>
                    <li>Tenor peminjaman 5 tahun</li>
                    <li>Free biaya provisi</li>
                    <li>Pencairan dana 2 hari</li>
                  </ul>
                  <button class="btn btn-dark">Lihat Detail</button>
                </div>
              </div>
            </div> -->
          </div>
          <div class="text-center koperasi1">
            <button class="btn btn-outline-light">
              Lihat lainnya
              <i class="fas fa-long-arrow-alt-left fa-rotate-180"></i>
            </button>
          </div>
        </div>
      </section>

  </div>
</template>
<script>
import axios from 'axios'
import { URL_API } from '../constant/index.js'
export default {
  data(){
    return {
      testimoni: [],
      kospin:[],
      bpr:[]
    }
  },
  created() {
    this.loadDatatesti(),
    this.loadDatakospin(),
    this.loadDatabpr();
  },
  methods: {
    linkWhatsapp() {
      location.href = "https://api.whatsapp.com/send?phone=6288290518571&text=test%20Whatsapp%20Services"
    },
    allPromosi() {
      location.href = "Promosipage"
    },
    loadDatatesti(event) {
      axios.get(URL_API + "api/auth/testimoni/limit").then(response => {
        this.testimoni = response.data;
      })
    },
    loadDatakospin(event) {
      axios.get(URL_API + "api/auth/partner/jenis/all/kospin").then(response => {
        this.kospin = response.data;
      })
    },
    loadDatabpr(event) {
      axios.get(URL_API + "api/auth/partner/jenis/all/bpr").then(response => {
        this.bpr = response.data;
        console.log(this.bpr)
      })
    }
  }
}
</script>