<template>
  <div>
    <section id="hero">
      <div
        id="heroCarousel"
        class="carousel slide carousel-fade"
        data-ride="carousel"
      >
        <div class="home" role="listbox">
          <!-- Slide 1 -->
          <div class="container">
            <div class="row" style="padding-top: 100px">
              <div class="col-sm-7">
                <h1>
                  Pilih Pinjaman
                  <br />
                  Terbaik
                </h1>
                <div class="row">
                  <div class="col-xs-12 col-sm-8">
                    <h4 class="lead mt-4">
                      Kami membantu Anda untuk menemukan <br />
                      lembaga keuangan terbaik untuk Anda.<br />
                    </h4>
                  </div>
                  <button class="btn btn-warning mt-3 mr-3">
                    Koperasi Simpan Pinjam
                  </button>
                  <button class="btn btn-warning mt-3">
                    Bank Perkreditan Rakyat
                  </button>
                </div>
                <br />
              </div>
              <div class="col-sm-5 col-sm-offset-12">
                <img src="/assets/img/tegar/Hero/hero1.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <main id="main">
      <div class="section-title" data-aos="fade-up">
        <h1 class="mt-5">Promo hari ini</h1>
      </div>

      <section id="promotion">
        <div class="container">
          <div class="col">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    class="d-block w-100"
                    src="/assets/img/Project Cover.png"
                    alt="First slide"
                  />
                </div>
                <div class="carousel-item" v-for="prom in promosi" :key="prom.idpromosi">
                  <img
                    class="d-block w-100"
                    :src="`https://file.sitama.co.id/storage/uemka/uemka/Promosi${prom.image_promosi}`"
                    alt="Second slide"
                  />
                </div>
                <!-- <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="/assets/img/Project Cover.png"
                    alt="Third slide"
                  />
                </div> -->
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleControls"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleControls"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <!-- <agile>
              <div class="slide">
                <img src="/assets/img/Project Cover.png" />
              </div>
              <div class="slide">
                <img src="/assets/img/Project Cover.png" />
              </div>
              <div class="slide">
                <img src="/assets/img/imagebank3.png" />
              </div>
            </agile> -->
          </div>
          <div class="text-center">
            <button class="btn btn-warning p-2 mt-5">
                 <a href="/promosipage" style="color: #000;">
                      Lihat semua promosi</a
                    >
            </button>
          </div>
        </div>
      </section>

      <section id="portfolio" class="portfolio">
        <div class="container">
          <div class="row" data-aos="fade-up">
            <div class="col-md-7">
              <img src="assets/img/infouemka.png" class="img-fluid" alt="" />
            </div>
            <div class="col-md-5">
              <h1 class="mt-5">Siapa Kami ?</h1>
              <br />
              <h4 class="lead">
                <img
                  src="/images/header.png"
                  alt=""
                  style="margin-top: -10px; margin-right: 4px"
                />
                selangkah lebih maju dalam memenuhi <br />
                kebutuhan utama konsumen di tengah banyaknya <br />
                pilihan produk pinjaman. <br /><br />
                Situs ini menyediakan beragam kemudahan untuk <br />
                pengguna, di antaranya perbandingan produk, ulasan <br />
                konsumen, dan penyematan rating.
              </h4>
            </div>
          </div>
        </div>
      </section>

      <section id="get-started" class="padd-section text-center">
        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h2
              style="
                font-family: 'Manrope';
                font-weight: 800;
                font-size: 48px;
                color: #18191f;
              "
            >
              Mengapa
              <img
                src="assets/img/uemka.png"
                alt=""
                style="margin-top: -10px; margin-right: 4px"
              />
            </h2>
          </div>
        </div>

        <div class="container mt-5">
          <div class="row">
            <div
              class="col-md-6 col-lg-3"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="feature-block">
                <img src="assets/img/fitur/fitur1.png" alt="img" class="mb-5" />
                <h4 class="font-weight-bold">Helpful</h4>
                <p>
                  Platform UEMKA membantu UMKM dalam akses permodalan dan
                  membantu Lembaga keuangan dalam mencari data nasabah. Tujuan
                  utama UEMKA adalah membantu memenuhi kebutuhan semua pihak
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="feature-block">
                <img src="assets/img/fitur/fitur2.png" alt="img" class="mb-5" />
                <h4 class="font-weight-bold">Expert</h4>
                <p>
                  Platform UEMKA memiliki Expert Person di bidang Lembaga
                  keuangan yang mengerti akan kebutuhan Lembaga keuangan dan
                  konsumen. Sehingga platform transform selalu mengikuti
                  perubahan zaman.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="feature-block">
                <img src="assets/img/fitur/fitur3.png" alt="img" class="mb-5" />
                <h4 class="font-weight-bold">Rapid</h4>
                <p>
                  Proses kerja yang lebih efektif dan termonitor secara digital
                  sehingga SLS (<span style="font-style: italic"
                    >Service Level Speed</span
                  >
                  ) lebih cepat.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="feature-block">
                <img src="assets/img/fitur/fitur4.png" alt="img" class="mb-5" />
                <h4 class="font-weight-bold">Outstanding</h4>
                <p>
                  Dengan adanya Platform UEMKA, maka tingkat akurasi kecocokan
                  (%) antara persyaratan Lembaga keuangan dan kondisi UMKM lebih
                  tinggi karena melalui platform UEMKA semua informasi terpapar
                  dengan jelas & transparant.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="prosesbisnis">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title" data-aos="fade-up">
              <h1>Proses bisnis kami</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <img src="assets/img/prosesuemka.png" alt="" />
          </div>
        </div>
      </section>

      <section id="whyme" class="whyme" style="background-color: #fdc134">
        <div class="container">
          <div class="container">
            <div class="section-title" data-aos="fade-up">
              <h1 style="color: #213b52">
                <strong>Koperasi Simpan Pinjam</strong>
              </h1>
            </div>
          </div>
 
          <div class="row">
            <div class="col-lg-4" v-for="kos in kospin" :key="kos.idpartner">
              <div class="card">
                <div class="card-body text-center">
                  <div class="img">
                    <img :src="`https://file.sitama.co.id/storage/uemka/uemka/Partner${kos.image_partner}`" alt="" />
                  </div>
                  <div class="content-img">
                    <ul style="list-style: none">
                      <div v-html="kos.visimisi_partner"></div> 
                    </ul>
                  </div>
                  <button class="btn btn-dark">
                    <router-link  tag="a" :to="`/kspperusahaan/${kos.idpartner}`" style="color: #FDC134;">
                    <!-- <a href="/kspperusahaan" style="color: #FDC134;"> -->
                      Lihat Detail
                    <!-- </a> -->
                    </router-link>
                  </button>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="/assets/img/image2.png" alt="" />
                  <ul style="list-style: none">
                    <li>Pembiayaan mulai dari Rp 10jt</li>
                    <li>Tenor peminjaman 5 tahun</li>
                    <li>Free biaya provisi</li>
                    <li>Pencairan dana 2 hari</li>
                  </ul>
                  <button class="btn btn-dark">Lihat Detail</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="/assets/img/image 3.png" alt="" />
                  <ul style="list-style: none">
                    <li>Pembiayaan mulai dari Rp 10jt</li>
                    <li>Tenor peminjaman 5 tahun</li>
                    <li>Free biaya provisi</li>
                    <li>Pencairan dana 2 hari</li>
                  </ul>
                  <button class="btn btn-dark">Lihat Detail</button>
                </div>
              </div>
            </div> -->
          </div>
          <div class="text-center koperasi">
            <button class="btn btn-outline-dark">
              <a href="/Detailkspdankpr">
                Lihat lainnya
                <i class="fas fa-long-arrow-alt-left fa-rotate-180"></i>
              </a>
            </button>
          </div>
        </div>
      </section>

     
 <section id="whyme" class="whyme" style="background-color:#213b52 !important">
        <div class="container">
          <div class="container">
            <div class="section-title" data-aos="fade-up">
              <h1 style="color: #ffffff">
                <strong>Bank Perkreditan Rakyat</strong>
              </h1>
            </div>
          </div>
 
          <div class="row">
            <div class="col-lg-4" v-for="bp in bpr" :key="bp.idpartner">
              <div class="card">
                <div class="card-body text-center">
                  <div class="img">
                     <img img :src="`https://file.sitama.co.id/storage/uemka/uemka/Partner${bp.image_partner}`" alt="" />
                  </div>
                  <div class="content-img">
                    <ul style="list-style: none">
                      <div v-html="bp.visimisi_partner"></div> 
                    </ul>
                  </div>
                  <button class="btn btn-dark">
                    <router-link  tag="a" :to="`/kspperusahaan/${bp.idpartner}`" style="color: #FDC134;">
                    <!-- <a href="/kspperusahaan" style="color: #FDC134;"> -->
                      Lihat Detail
                    <!-- </a> -->
                    </router-link>
                  </button>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="/assets/img/image2.png" alt="" />
                  <ul style="list-style: none">
                    <li>Pembiayaan mulai dari Rp 10jt</li>
                    <li>Tenor peminjaman 5 tahun</li>
                    <li>Free biaya provisi</li>
                    <li>Pencairan dana 2 hari</li>
                  </ul>
                  <button class="btn btn-dark">Lihat Detail</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="/assets/img/image 3.png" alt="" />
                  <ul style="list-style: none">
                    <li>Pembiayaan mulai dari Rp 10jt</li>
                    <li>Tenor peminjaman 5 tahun</li>
                    <li>Free biaya provisi</li>
                    <li>Pencairan dana 2 hari</li>
                  </ul>
                  <button class="btn btn-dark">Lihat Detail</button>
                </div>
              </div>
            </div> -->
          </div>
          <div class="text-center koperasi1">
            <button class="btn btn-outline-light">
              Lihat lainnya
              <i class="fas fa-long-arrow-alt-left fa-rotate-180"></i>
            </button>
          </div>
        </div>
      </section>
      
      <!-- Testimonial -->
      <!-- <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up"> -->
          <!-- <div class="section-title">
            <h2>Yuk untung bersama!</h2>
            <p>Lihat apa kata mereka yang telah bergabung Uemka</p>
          </div> -->

          <!-- <div class="row">
            <div class="col-4" v-for="testi in testimoni" :key="testi.idtesti">
              <figure class="snip1192">
                <blockquote>
                  "{{ testi.isi_testi}}"
                </blockquote>
                <div class="author">
                  <img src="assets/img/Picture.png" alt="sq-sample29" />
                  <h5>{{ testi.nama_testi }}<span> {{ testi.usaha_testi }}</span></h5>
                </div>
              </figure>
            </div> -->
            <!-- <div class="col-4">
              <figure class="snip1192">
                <blockquote>
                  "Di tengah masa pandemic, ternyata masih ada Lembaga keuangan
                  yang memberi pinjaman kepada UMKM dengan bunga terbaik. Terima
                  kasih Uemka!”
                </blockquote>
                <div class="author">
                  <img src="assets/img/Picture.png" alt="sq-sample29" />
                  <h5>Bhaihaki<span> Sales Skin Care</span></h5>
                </div>
              </figure>
            </div>
            <div class="col-4">
              <figure class="snip1192">
                <blockquote>
                  "Di tengah masa pandemic, ternyata masih ada Lembaga keuangan
                  yang memberi pinjaman kepada UMKM dengan bunga terbaik. Terima
                  kasih Uemka!”
                </blockquote>
                <div class="author">
                  <img src="assets/img/Picture.png" alt="sq-sample29" />
                  <h5>Tegar Hartadi<span> Tukang Es Buah</span></h5>
                </div>
              </figure>
            </div> -->
          <!-- </div> -->
        <!-- </div>       

        
      </section>
  -->

 <!--  -->
  <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" v-for="testi in testimoni" :key="testi.idtesti">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>{{ testi.nama_testi }}</h3>
              <h4>{{ testi.usaha_testi }}</h4>
              <p>
                <br>
                <!-- <i class="bx bxs-quote-alt-left quote-icon-left"></i> -->
                "{{ testi.isi_testi}}"
                <!-- <i class="bx bxs-quote-alt-right quote-icon-right"></i> -->
              </p>
            </div>
          </div>
          <!-- <div class="col-lg-4" data-aos="fade-up">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
          <div class="col-lg-4" data-aos="fade-up">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div> -->

      
         

        </div>

      </div>
    </section>
 <!--  -->


      <!-- togar -->

      <section id="kontakwa">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h1 style="color: #213b52">
              <strong
                >Punya pertanyaan? <br />
                Hubungi kami</strong
              >
            </h1>
            <button class="btn btn-success p-3 mt-3" @click="linkWhatsapp">
              <i class="fab fa-whatsapp mr-2"></i>Whatsapp
            </button>
          </div>
          <div class="row">
            <div class="col-lg-12 justify-content-center">
              <img src="assets/img/haha.png" alt="" v-rjs="3" />
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>

<style scoped>
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 40px;
  box-shadow: 0px 2px 12px rgb(255, 255, 255);
  position: relative;
 
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50px;
  border:none !important;
  float: left;
  margin: 0 10px 0 0;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #fecfc0;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px 0 0 0;
  padding: 0;
}
/* togar */

</style>
<script>
import axios from 'axios'
import { URL_API } from '../constant/index.js'
// import https://uemka.sitama.co.id/ from '../constant/index'
export default {
  data(){
    return {
      testimoni: [],
      kospin:[],
      bpr:[],
      promosi:[]
    }
  },
  created() {
    this.loadDatatesti(),
    this.loadDatakospin(),
    this.loadDatabpr(),
    this.loadDataPromosi();
    // console.log('url',this.$env);
    console.log(URL_API)
  },
  methods: {
    linkWhatsapp() {
      location.href = "https://api.whatsapp.com/send?phone=6288290518571&text=test%20Whatsapp%20Services"
    },
    allPromosi() {
      location.href = "Promosipage"
    },
    loadDatatesti(event) {
      axios.get(URL_API + "api/auth/testimoni/limit").then(response => {
        this.testimoni = response.data;
      })
    },
    loadDatakospin(event) {
      axios.get(URL_API + "api/auth/partner/jenis/kospin").then(response => {
        this.kospin = response.data;
        console.log(this.kospin);
      })
    },
    loadDatabpr(event) {
      axios.get(URL_API + "api/auth/partner/jenis/bpr").then(response => {
        this.bpr = response.data;
      })
    },
    loadDataPromosi(event) {
      axios.post( URL_API + "api/auth/promosi/forslider").then(response => {
        this.promosi = response.data;
        console.log(this.promosi);
      });
    },
  }
}
</script>
