<template>
    <div>
    <main id="main">
        <div class="container ksp">
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-warning ">Profil Perusahaan</button>
                    <button class="btn btn ksp-btn">Profil Perusahaan</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <img src="/assets/img/kpkn.png" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="deskripsi">
                        <ul style="list-style: none;">
                            <h5>Koperasi</h5>
                            <p class="h2">{{ kospin.nama_partner }}</p>
                            <li class="parent">Alamat</li>
                            <li>RUKO GOLDEN MADRID I BLOK D NO.25 <br>
                                Jl. Letnan Sutopo, Rw. Mekar Jaya, Kec. Serpong, Kota <br> Tangerang Selatan, Banten
                                15111</li>
                            <li class="parent mt-3">Nomor Telepon</li>
                            <li>0813 1114-4407</li>
                            <li class="parent mt-3">Website</li>
                            <li>www.surya-kencana.com</li>
                        </ul>
                        <br>
                    </div>
                </div>
            </div>
        </div>


        <section class="desk">
            <div class="container text-left">

                <div class="row">
                    <div class="col">
                        <h1>Product</h1>
                        <div class="row">
                            <div class="col-1">
                                <hr style="border: 1px solid;">
                            </div>
                        </div>
                        <ul style="list-style: none;">
                            <li>1) Pinjaman - Agunan BPKB
                                <br>
                                <p class="mt-4">
                                    Kredit untuk semua kebetuhan anda, diperuntukkan untuk segala kalangan, baik untuk
                                    perorangan, usaha kecil/m <br>
                                    maupun perusahaan besar <br> <br>
                                    Bunga:1,5%
                                    <br>
                                    <br> Max Tenor: 5 Tahun
                                </p>
                            </li>
                            <li>2) Pinjaman - Agunan SHM
                                <br>
                                <p class="mt-4">
                                    Kredit untuk semua kebetuhan anda, diperuntukkan untuk segala kalangan, baik untuk
                                    perorangan, usaha kecil/m <br>
                                    maupun perusahaan besar <br> <br>
                                    Bunga:1,25%
                                    <br>
                                    <br> Max Tenor: 15 Tahun
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col mt-5">
                        <h1>Persyaratan</h1>
                        <div class="row">
                            <div class="col-1">
                                <hr style="border: 1px solid;">
                            </div>
                        </div>
                        <ul style="list-style: none;">
                            <li class="mb-2">Persyaratan</li>
                            <li>- Warga Negara Indonesia, baik perorangan maupun perusahaan</li>
                            <li> - Usia telah 21 tahun dan maksimal 58 tahun saat pinjaman berakhir</li>
                            <li>- Foto Copy Kartu Keluarga (KK)</li>
                            <li>- Foto Copy Identitas Diri yang masih berlaku (KTP/Paspor/SIM)</li>
                            <li>- Foto Copy surat Nikah (Untuk yang sudah menikah</li>
                            <li>- Foto Copy surat Nikah (Untuk yang sudah menikah</li>
                            <li>- Pas Foto Suami dan Istri</li>
                            <li>- NPWP Pribadi</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-warning">Dapatkan Penawaran</button>
                </div>
                </div>
            </div>
        </section>

    </main>
    </div>
</template>
<script>
import axios from 'axios'
import moment from 'moment'
import { URL_API } from '../constant/index.js'
export default {
  data() {
    return {
      kospin: {}
    }
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData(event) {
      axios.post(URL_API + "api/auth/partner/ambildata/kospin" ,{
        idpartner : this.$route.params.idpartner
      }).then(response => {
        this.kospin = response.data;
        console.log(this.kospin);
      });
    },
    // moment : function(date) {
    //   return moment(date).format('MMMM Do YYYY, h:mm:ss a');
    // }
    moment: function (date) {
      return moment(date);
    }
  }
}
</script>