<template>
     <main id="main">

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container">
        <div class="row">
          <div class="col-lg">
            <h3>Daftar Sebagai Lembaga</h3>
            <br>
            <p>Informasi Pinjaman</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <form>
                <label>Jumlah Pinjaman</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Rp</span>
                    </div>
                    <input type="text" class="form-control" placeholder=""   aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <p class="ml-4" style="font-size: 14px !important;">Silakan masukkan jumlah pinjaman maksimal Rp 30.000.000</p>
              <div class="form-group">
                <label for="exampleInputEmail1">Jangka Waktu</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="">
              </div>
            
             
            </form>
          </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg">
              <h5>Informasi Domisili</h5>
              <p class="lead mt-5">Provinsi</p>
            </div>
          </div>
        <div class="row">
            <div class="col">
              <form>
                  <div class="form-group form-check" style="border:1px solid; height:50px;">
                    <input type="checkbox" class="form-check-input ml-2 mt-3" id="exampleCheck1">
                    <label class="form-check-label ml-5" for="exampleCheck1" style="margin-top: 10px !important;">DKI Jakarta</label>
                  </div>
                  <div class="form-group form-check" style="border:1px solid; height:50px;">
                    <input type="checkbox" class="form-check-input ml-2 mt-3" id="exampleCheck1">
                    <label class="form-check-label ml-5" for="exampleCheck1" style="margin-top: 10px !important;">Jawa Barat</label>
                  </div>
                  <div class="form-group form-check" style="border:1px solid; height:50px;">
                    <input type="checkbox" class="form-check-input ml-2 mt-3" id="exampleCheck1">
                    <label class="form-check-label ml-5" for="exampleCheck1" style="margin-top: 10px !important;">Jawa Timur</label>
                  </div>
                  <div class="form-group form-check" style="border:1px solid; height:50px;">
                    <input type="checkbox" class="form-check-input ml-2 mt-3" id="exampleCheck1">
                    <label class="form-check-label ml-5" for="exampleCheck1" style="margin-top: 10px !important;">Jawa Tengah</label>
                  </div>
                  <div class="form-group form-check" style="border:1px solid; height:50px;">
                    <input type="checkbox" class="form-check-input ml-2 mt-3" id="exampleCheck1">
                    <label class="form-check-label ml-5" for="exampleCheck1" style="margin-top: 10px !important;">Sumatera Utara</label>
                  </div>
                  <div class="form-group form-check" style="border:1px solid; height:50px;">
                    <input type="checkbox" class="form-check-input ml-2 mt-3" id="exampleCheck1">
                    <label class="form-check-label ml-5" for="exampleCheck1" style="margin-top: 10px !important;">Lainnya</label>
                  </div>
              </form>
            </div>
          </div>
          
          <div class="row mt-5">
              <div class="col-lg">
                <h5>Informasi Pekerjaan</h5>
                <p class="lead mt-5">Pekerjaan</p>
              </div>
            </div>
          <div class="row">
              <div class="col">
                <form>
                    <div class="form-group form-check" style="border:1px solid; height:50px;">
                      <input type="checkbox" class="form-check-input ml-2 mt-3" id="exampleCheck1">
                      <label class="form-check-label ml-5" for="exampleCheck1" style="margin-top: 10px !important;">Karyawan</label>
                    </div>
                    <div class="form-group form-check" style="border:1px solid; height:50px;">
                      <input type="checkbox" class="form-check-input ml-2 mt-3" id="exampleCheck1">
                      <label class="form-check-label ml-5" for="exampleCheck1" style="margin-top: 10px !important;">Wiraswasta</label>
                    </div>
                    <div class="form-group form-check" style="border:1px solid; height:50px;">
                      <input type="checkbox" class="form-check-input ml-2 mt-3" id="exampleCheck1">
                      <label class="form-check-label ml-5" for="exampleCheck1" style="margin-top: 10px !important;">Profesional</label>
                    </div>
                    <div class="form-group form-check" style="border:1px solid; height:50px;">
                      <input type="checkbox" class="form-check-input ml-2 mt-3" id="exampleCheck1">
                      <label class="form-check-label ml-5" for="exampleCheck1" style="margin-top: 10px !important;">Ibu Rumah Tangga</label>
                    </div>
                    <div class="form-group form-check" style="border:1px solid; height:50px;">
                      <input type="checkbox" class="form-check-input ml-2 mt-3" id="exampleCheck1">
                      <label class="form-check-label ml-5" for="exampleCheck1" style="margin-top: 10px !important;">Pegawai Negeri Sipil</label>
                    </div>
                    <div class="form-group form-check" style="border:1px solid; height:50px;">
                      <input type="checkbox" class="form-check-input ml-2 mt-3" id="exampleCheck1">
                      <label class="form-check-label ml-5" for="exampleCheck1" style="margin-top: 10px !important;">Lainnya</label>
                    </div>
                </form>
              </div>
            </div>
            <div class="text-right">
                <button class="btn btn-warning">Selanjutnya</button>
            </div>
      </div>
    </section><!-- End Blog Section -->

  </main>
</template>