<template>
  <div>
    <section id="headpromosi">
      <div class="row text-center mb-5">
        <div class="col">
          <h1>Promosi</h1>
        </div>
      </div>
      <div class="row text-center mb-5">
        <div class="col">
          <h2>
            {{ promosi.judul_promosi }}
            
          </h2>
        </div>
      </div>
      <div class="row text-center mt-5">
        <div class="col">
          <img :src="`https://file.sitama.co.id/storage/uemka/uemka/Promosi${promosi.image_promosi}`" class="img-fluid" alt="" />
        </div>
      </div>
    </section>

    <section id="syarat">
      <!-- <div class="row text-center">
        <div class="col">
          <h4>
            Dapatkan dana cair express cukup dengan menjaminkan BPKB mobil
            <br />
            Anda! Ajukan pembiayaan dengan jaminan BPKB mobil dan isi form via
            <br />
            online untuk mendapatkan cashback special dari BFI Finance!
          </h4>
        </div>
      </div> -->

      <div class="container">
        <div class="row kotak">
          <div class="col">
            <div v-html="promosi.isi_promosi">
                <!-- {{ promosi.isi_promosi }} -->
            </div>
            <!-- {{ promosi.isi_promosi }}
            <span v-html="promosi.judul_promosi"></span> -->
            <!-- <h1>Berikut Syaratnya</h1> -->
            <!-- <p>
              Promo hanya berlaku untuk konsumen yang melalukan pengajuan
              <br />secara digital di web bfi.co.id dengan pembiayaan BPKB mobil
              dan berhasil cair, Konsumen berkesempatan mendapatkan bonus hingga
              Rp 1.000.000 dengan pencairan di atas Rp70.000.000 apabila mengisi
              form hingga selesai, Satu nomor handphone & identitas resmi/KTP
              hanya bisa mengikuti promo ini sebanyak satu kali, Pengiriman
              cashback dilakukan oleh Head Office BFI Finance ke nomor rekening
              konsumen yang terdaftar dan pengajuannya telah cair
            </p> -->
          </div>
        </div>
      </div>
    </section>

    <section id="share">
      <div class="row">
        <div class="col text-center">
          <h4>Bagikan</h4>
          <img
            src="assets/img/share/m.png"
            class="rounded-circle mr-3"
            alt=""
          />
          <img
            src="assets/img/share/c.png"
            class="rounded-circle mr-3"
            alt=""
          />
          <img
            src="assets/img/share/iya.png"
            class="rounded-circle mr-3"
            alt=""
          />
        </div>
      </div>
    </section>

    <section id="ASKME">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-sm-4">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    Memiliki pertanyaan seputar pembiayaan?
                  </p>
                  <a href="#"
                    >Chat sekarang
                    <i class="fas fa-long-arrow-alt-left fa-rotate-180"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">Ingin mengajukan pembiayaan?</p>
                  <a href="#"
                    >AJUKAN SEKARANG
                    <i class="fas fa-long-arrow-alt-left fa-rotate-180"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    Temukan cabang atau gerai BFI terdekat
                  </p>
                  <a href="#"
                    >LIHAT LOKASI
                    <i class="fas fa-long-arrow-alt-left fa-rotate-180"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="promotion">
      <div class="container">
        <div class="row">
          <div class="col text-center mb-5">
            <h1>Promosi</h1>
          </div>
        </div>
        <div class="col">
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  class="d-block w-100"
                  src="/assets/img/Project Cover.png"
                  alt="First slide"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="d-block w-100"
                  src="/assets/img/Project Cover.png"
                  alt="Second slide"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="d-block w-100"
                  src="/assets/img/Project Cover.png"
                  alt="Third slide"
                />
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleControls"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleControls"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <!-- <agile>
              <div class="slide">
                <img src="/assets/img/Project Cover.png" />
              </div>
              <div class="slide">
                <img src="/assets/img/Project Cover.png" />
              </div>
              <div class="slide">
                <img src="/assets/img/imagebank3.png" />
              </div>
            </agile> -->
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import axios from 'axios'
import moment from 'moment'
import { URL_API } from '../constant/index.js'
export default {
  data() {
    return {
      promosi: {}
    }
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData(event) {
      axios.post(URL_API + "api/auth/promosi/ambildata" ,{
        slug : this.$route.params.slug
      }).then(response => {
        this.promosi = response.data;
        console.log(this.promosi);
      });
    },
    // moment : function(date) {
    //   return moment(date).format('MMMM Do YYYY, h:mm:ss a');
    // }
    moment: function (date) {
      return moment(date);
    }
  }
}
</script>