<template>
  <section class="artikel-1">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>Promosi</h1>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-6" v-for="prom in promosi" :key="prom.idpromosi">
          <div class="card">
            <img
              :src="`https://file.sitama.co.id/storage/uemka/uemka/Promosi${prom.image_promosi}`"
              class="card-img-top mb-3 img-responsive"
              alt="..."
            />
            <div class="card-body">
              <router-link  tag="a" :to="`/Promosi/${prom.slug}`" class="card-text h5 mt-4 font-weight-bold"> {{ prom.judul_promosi }} </router-link>
              <!-- <a href="/Promosi/bbbb" 
                ></a
              > -->
              <br />
              <p class="mt-4">{{ moment(prom.created_at).format('LLL') }}</p>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-6">
          <div class="card">
            <img
              src="/assets/img/adira.png"
              class="card-img-top mb-3"
              alt="..."
            />
            <div class="card-body">
              <a href="#" class="card-text h5 mt-4 font-weight-bold"
                >Corona Ganas Lagi, IHSG Diprediksi Terkoreksi</a
              >
              <br />
              <p class="mt-4">Senin, 23 Nov 2020 11:44 WIB</p>
            </div>
          </div>
        </div> -->
      </div>

      <!-- <div class="row mt-5">
        <div class="col-lg-6">
          <div class="card">
            <img
              src="/assets/img/mandiri.png"
              class="card-img-top mb-3 img-responsive"
              alt="..."
            />
            <div class="card-body">
              <a href="#" class="card-text h5 mt-4 font-weight-bold"
                >Promo cicilan BCA 0%</a
              >
              <br />
              <p class="mt-4">Senin, 23 Nov 2020 11:44 WIB</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <img
              src="/assets/img/astrapay.png"
              class="card-img-top mb-3"
              alt="..."
            />
            <div class="card-body">
              <a href="#" class="card-text h5 mt-4 font-weight-bold"
                >Corona Ganas Lagi, IHSG Diprediksi Terkoreksi</a
              >
              <br />
              <p class="mt-4">Senin, 23 Nov 2020 11:44 WIB</p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>
</template>
<script>
import axios from 'axios'
import moment from 'moment'
import { URL_API } from '../constant/index.js'
export default {
  data() {
    return {
      promosi: []
    }
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData(event) {
      axios.get(URL_API + "api/auth/promosi").then(response => {
        this.promosi = response.data;
        console.log(this.promosi);
      });
    },
    // moment : function(date) {
    //   return moment(date).format('MMMM Do YYYY, h:mm:ss a');
    // }
    moment: function (date) {
      return moment(date);
    }
  }
}
</script>