<template>
  <section>
    <div class="container">
      <div class="col text-center">
        <h1>Syarat dan Ketentuan</h1>
      </div>
      <div class="row">
        <div class="col text-left">
          <p class="mt-5">
            Selamat datang di www.uemka.com
            <br />
            <br />
            Disarankan sebelum mengakses Situs ini lebih jauh, Anda terlebih
            dahulu membaca dan memahami syarat dan ketentuan yang berlaku.
            Syarat dan ketentuan berikut adalah ketentuan dalam pengunjungan
            Situs, isi dan/atau konten, layanan, serta fitur lainnya yang ada di
            dalam Situs. Dengan mengakses atau menggunakan Situs atau aplikasi
            lainnya yang disediakan oleh atau dalam Situs, berarti Anda telah
            memahami dan menyetujui serta terikat dan tunduk dengan segala
            syarat dan ketentuan yang berlaku di Situs ini.
          </p>
          <div class="row">
            <div class="col text-left">
              <h3>DEFINISI</h3>
              <br />
              <p>
                Setiap kata atau istilah berikut yang digunakan di dalam syarat
                & ketentuan ini memiliki arti seperti berikut di bawah, kecuali
                jika kata atau istilah yang bersangkutan di dalam pemakaiannya
                dengan tegas menentukan lain
              </p>
              <ul>
                <li>
                  "Kami", berarti PT Solusi Integrasi Pratama selaku pemilik dan
                  pengelola Situs www.uemka.com
                </li>
                <li>
                  "Anda", berarti tiap orang yang mengakses dan menggunakan
                  layanan dan jasa yang disediakan oleh Kami.
                </li>
                <li>
                  "Layanan", berarti tiap dan keseluruhan jasa serta informasi
                  yang ada pada Situs www.uemka.com, dan tidak terbatas pada
                  informasi yang disediakan, layanan web, dan dukungan data
                </li>
                <li>
                  "Pengguna", berarti tiap orang yang mengakses dan menggunakan
                  layanan dan jasa yang disediakan oleh Kami, termasuk
                  diantaranya Pengguna Belum Terdaftar dan Pengguna Terdaftar.
                </li>
                <li>
                  "Pengguna Belum Terdaftar", berarti tiap orang yang mengakses
                  Situs Kami dan belum melakukan registrasi.
                </li>
                <li>
                  "Pengguna Terdaftar", berarti tiap orang yang mengakses dan
                  menggunakan layanan dan jasa yang disediakan oleh Kami, serta
                  telah melakukan registrasi dan memiliki akun pada Situs Kami.
                </li>
                <li>
                  "Pihak Ketiga", berarti pihak lainnya, termasuk namun tidak
                  terbatas seperti Lembaga keuangan dan jasa layanan lainnya
                  yang menyediakan layanannya dalam Situs.
                </li>
                <li>
                  "Informasi Pribadi", berarti tiap dan seluruh data pribadi
                  yang diberikan oleh Pengguna di Situs Kami, termasuk namun
                  tidak terbatas pada nama lengkap, tempat dan tanggal lahir,
                  jenis kelamin, alamat, nomor identitas, informasi debitur,
                  surat nikah, bukti kepemilikan agunan, KTP, NPWP, lokasi
                  pengguna, kontak pengguna, serta dokumen dan data pendukung
                  lainnya sebagaimana diminta pada ringkasan pendaftaran akun
                  serta pada ringkasan aplikasi pengajuan.
                </li>
                <li>
                  "Konten", berarti teks, data, informasi, angka, gambar,
                  grafik, foto, audio, video, nama pengguna, informasi,
                  aplikasi, tautan, komentar, peringkat, desain, atau materi
                  lainnya yang ditampilkan pada Situs.
                </li>
                <li>“Situs”, berarti www.uemka.com</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col text-left">
              <h1>LAYANAN DAN/ATAU JASA</h1>
              <br />
              <br />
              <p>
                Kami memberikan informasi mengenai produk-produk finansial
                dan/atau perbankan, asuransi, telekomunikasi yang disediakan
                oleh Pihak Ketiga. Layanan ini memungkinkan Anda untuk dapat
                melihat, menelaah, membaca, serta membandingkan informasi
                tersebut.
              </p>
              <ul>
                <li>
                  Informasi yang terdapat dalam Situs Kami ditampilkan sesuai
                  keadaan kenyataan untuk tujuan informasi umum. Kami berusaha
                  untuk selalu menyediakan dan menampilkan informasi yang
                  terbaru dan akurat, namun Kami tidak menjamin bahwa segala
                  informasi sesuai dengan ketepatan waktu atau relevansi dengan
                  kebutuhan Anda.
                </li>
                <li>
                  Diharapkan Anda tidak menganggap atau berasumsi bahwa Situs
                  ini dapat dijadikan sebagai saran keuangan dan/atau finansial,
                  atau rekomendasi atas produk serta layanan yang ditampilkan.
                  Informasi di Situs ini disediakan untuk membantu Anda dalam
                  memilih produk atau layanan yang sesuai dengan kebutuhan Anda.
                  Anda sepenuhnya bertanggung jawab atas keputusan terkait
                  pemilihan produk dan layanan, atau dalam menandatangani
                  kontrak berkaitan dengan sebuah produk atau layanan. Dengan
                  memberikan Kami rincian tentang diri pribadi Anda, dianggap
                  Anda mengajukan diri untuk mendapatkan suatu produk atau
                  layanan tertentu.
                </li>
                <li>
                  Layanan yang Kami berikan tidak bersifat memaksa atau
                  mengikat, serta tidak mengharuskan Anda untuk mengikuti
                  informasi yang tersedia. Tidak ada situasi atau keadaan apapun
                  yang dapat membuat Kami dikenakan tanggung jawab atas
                  kemungkinan kerugian yang Anda alami karena pengambilan
                  keputusan yang dilakukan oleh Anda sendiri terkait tindakan
                  atas informasi produk yang kami sampaikan di Situs.
                </li>
                <li>
                  Kami memiliki hak untuk kapan saja menampilkan, mengubah,
                  menghapus, menghilangkan, atau menambahkan segala konten yang
                  ditampilkan dalam Situs ini.
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col text-left">
              <h1>PENGGUNAAN LAYANAN DAN JASA</h1>
              <br />

              <p>
                Dengan Anda melanjutkan penggunaan atau pengaksesan Situs ini,
                berarti Anda telah menyatakan serta menjamin kepada Kami bahwa:
              </p>
              <ul>
                <li class="mb-1">
                  Anda hanya diperkenankan untuk mengakses dan/atau menggunakan
                  Situs ini untuk keperluan pribadi dan non-komersil, yang
                  berarti bahwa Situs ini hanya boleh diakses dan digunakan
                  secara langsung oleh individu atau bisnis yang sedang mencari
                  produk atau layanan untuk individu atau bisnis tersebut. Akses
                  dan penggunaan Situs diluar dari keperluan pribadi atau
                  non-komersil dilarang keras, dan melanggar Syarat dan
                  Ketentuan ini.
                </li>
                <li>
                  Anda tidak diperkenankan menggunakan Situs dalam hal sebagai
                  berikut :
                </li>

                <li class="ml-4">
                  Untuk menyakiti, menyiksa, mempermalukan, memfitnah,
                  mencemarkan nama baik, mengancam, mengintimidasi atau
                  mengganggu orang atau bisnis lain, atau apapun yang melanggar
                  privasi atau yang Kami anggap cabul, menghina, penuh
                  kebencian, tidak senonoh, tidak patut, tidak pantas, tidak
                  dapat diterima, mendiskriminasikan atau merusak.
                </li>
                <li class="ml-4">
                  Dalam cara yang melawan hukum, tindakan penipuan atau tindakan
                  komersil.
                </li>
                <li class="ml-4">
                  Melanggar atau menyalahi hak orang lain, termasuk tanpa
                  kecuali : hak paten, merek dagang, hak cipta, rahasia dagang,
                  publisitas, dan hak milik lainnya.
                </li>
                <li class="ml-4">
                  Untuk membuat, memeriksa, memperbarui, mengubah atau
                  memperbaiki database, rekaman atau direktori Anda ataupun
                  orang lain.
                </li>
                <li class="ml-4">
                  Mengunakan kode komputer otomatis, proses, program, robot, net
                  crawler, spider, pemrosesan data, trawling atau kode komputer,
                  proses, program atau sistem screen scraping alternatif.
                </li>
                <li class="ml-4">
                  Melanggar Syarat dan Ketentuan, atau petunjuk lainnya yang ada
                  pada Situs.
                </li>
                <li>
                  Kami tidak bertanggung jawab atas kehilangan akibat kegagalan
                  mengakses Situs, dan metode penggunaan Situs yang diluar
                  kendali Kami.
                </li>
                <li>
                  Kami tidak bertanggung jawab atau dapat dipersalahkan atas
                  kehilangan atau kerusakan yang diluar perkiraan saat Anda
                  mengakses atau menggunakan Situs ini. Ini termasuk kehilangan
                  penghematan yang diharapkan, kehilangan bisnis atau kesempatan
                  bisnis, kehilangan pemasukan atau keuntungan, atau kehilangan
                  atau kerusakan apapun yang Anda harus alami akibat penggunaan
                  Situs ini.
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col text-left">
              <h1>Pengajuan Jasa/Layanan</h1>
              <br />

              <ul>
                <li class="mb-1">
                  Anda bisa mengajukan diri untuk mendapatkan informasi dan
                  penawaran dari berbagai produk dan layanan seperti yang
                  ditampilkan di Situs ini. Produk dan layanan tersebut
                  disediakan oleh Pihak Ketiga. Anda sepenuhnya bertanggung
                  jawab atas pilihan produk atau layanan, dan Kami tidak
                  bertanggung jawab atau dapat dipersalahkan atas kehilangan
                  atau kerusakan yang mungkin Anda derita akibat produk atau
                  layanan yang Anda dapatkan saat menggunakan Situs ini, atau
                  atas tindakan, penghapusan atau kesalahan Pihak Ketiga yang
                  disebut di produk atau layanan itu.
                </li>
                <li>
                  Diingatkan kembali bahwa data dan deskripsi produk dan jasa
                  pada Situs ini mungkin tidak mewakili seluruh deskripsi dari
                  semua pilihan dan persyaratan produk dan layanan tersebut.
                  Anda perlu berhati-hati dan cermat untuk melihat semua pilihan
                  dan syarat dan kondisi dari setiap produk atau jasa sebelum
                  melakukan pengajuan.
                </li>

                <li>
                  Jika Anda mengajukan permohonan dan mendapatkan produk atau
                  layanan, Anda akan masuk ke dalam kontak dengan Pihak Ketiga
                  sebagai penyedia produk atau layanan, yang memiliki syarat dan
                  ketentuan sendiri. Anda bertanggung jawab untuk memastikan
                  bahwa Anda setuju dengan syarat dan kondisi sebelum memasuki
                  kontrak untuk mendapatkan produk atau layanan dimaksud. Kami
                  tidak bertanggung jawab atau disalahkan atas segala kerugian
                  atau kerusakan yang mungkin Anda derita akibat syarat dan
                  ketentuan yang berlaku di setiap kontrak antara Anda dengan
                  Pihak Ketiga, termasuk yang berhubungan tindakan, kelalaian
                  atau kesalahan dari Pihak Ketiga.
                </li>
                <li>
                  Anda memberikan izin pada Kami untuk memproses data-data Anda
                  kepada Pihak Ketiga, serta memberi kuasa kepada Pihak Ketiga
                  untuk memeriksa semua informasi yang diberikan dengan cara
                  bagaimanapun, menghubungi Anda untuk pemasaran dari produk
                  maupun layanan yang disediakan oleh Pihak Ketiga
                </li>
                <li>
                  Anda memberikan izin pada Kami untuk memproses data Anda untuk
                  meningkatkan layanan Kami dalam bentuk apapun, termasuk tapi
                  tidak terbatas untuk keperluan pemasaran dan peningkatan
                  layanan Kami.
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col text-left">
              <h1>Keputusan Finansial</h1>
              <br />
              <p>
                Layanan Kami menyediakan bagi Anda suatu tempat untuk melihat
                suatu informasi mengenai jasa Pihak Ketiga seperti institusi
                finansial, penyedia kartu kredit, institusi pinjaman, dan
                asuransi. Anda wajib membuat pilihan dan keputusan sendiri
                berdasarkan pertimbangan Anda sehubungan dengan penyedia jasa
                Pihak Ketiga. Kami tidak memberikan validasi atau melakukan
                pengesahan untuk penggunaan Pihak Ketiga oleh Anda yang
                semata-mata merupakan keputusan anda sepenuhnya.
              </p>
              <p>
                Anda dengan ini menerima dan menyetujui bahwa Anda akan
                berhubungan langsung dengan Pihak Ketiga yang Anda tunjuk
                dan/atau pilih dan oleh karenanya Pihak Ketiga tersebut
                bertanggung jawab secara penuh atas jasa yang diberikan kepada
                Anda. Kami tidak bertanggung jawab atas kerugian sehubungan
                dengan atau yang muncul dari atau sehubungan dengan pilihan Anda
                dan Kami menghimbau agar Anda mendapatkan advis sebelum
                mengambil keputusan.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col text-left">
              <h1>Aturan Pengguna</h1>
              <br />
              <p>
                Selain menampilkan informasi produk-produk finansial dan/atau
                keuangan, asuransi, dan telekomunikasi, Kami juga menyediakan
                keanggotaan bagi Anda selaku Pengguna. Anda dapat memeriksa
                riwayat keuangan Anda dan juga menemukan produk yang sesuai
                dengan profil Anda, serta juga dapat berpartisipasi di Forum
                yang juga Kami sediakan.
              </p>
              <ul>
                <li>
                  Sebelum menjadi Pengguna Terdaftar, Anda diwajibkan membuat
                  akun untuk diri Anda. Proses pembuatan akun dapat dilakukan
                  secara online melalui Situs.
                </li>
                <li>
                  Sebelum menjadi Pengguna Terdaftar, Anda diwajibkan membaca,
                  memahami, dan mematuhi Syarat dan Ketentuan serta Kebijakan
                  Privasi yang berlaku di Situs.
                </li>
                <li>
                  Anda diharuskan memberi data Informasi Pribadi yang sebenarnya
                  dan tidak memberikan informasi menyimpang dan/atau informasi
                  yang tidak relevan dalam melakukan proses registrasi menjadi
                  Pengguna Terdaftar. Selain itu Anda juga diharuskan memberi
                  kontak detail yang benar dan valid.
                </li>
                <li>
                  Kami berhak untuk tidak memproses registrasi Pengguna yang
                  tidak memenuhi persyaratan ataupun tidak memberikan informasi
                  yang benar dan valid, dan Kami berhak juga mengeluarkan
                  Pengguna Terdaftar dari keanggotaan jika di kemudian hari
                  ditemukan hal-hal yang melanggar ketentuan dari Kami.
                </li>
                <li>
                  Pengguna yang telah sukses melakukan proses registrasi, dan
                  menjadi Pengguna Terdaftar, dapat melakukan akses keanggotaan
                  kapan pun melalui Situs
                </li>
                <li>
                  Semua Pengguna Terdaftar wajib mematuhi Syarat dan Ketentuan
                  yang berlaku di Situs ini, dan tidak diperkenankan melakukan
                  tindakan-tindakan seperti tertuang dalam poin Penggunaan
                  Layanan dan Jasa
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col text-left">
              <h1>TIDAK ADA JAMINAN</h1>
              <p>
                ANDA DENGAN INI MENERIMA DAN MENYETUJUI BAHWA, SEPANJANG
                PERATURAN YANG BERLAKU MEMPERBOLEHKAN:
              </p>
              <ul>
                <li>
                  LAYANAN DAN KONTEN DARI SITUS INI DISEDIAKAN “SEPERTI
                  SEDIAKALA” DAN “SEBAGAIMANA ADA”. KAMI DENGAN TEGAS MENYATAKAN
                  BAHWA KAMI TIDAK MENYEDIAKAN JAMINAN ATAU GARANSI BAIK SECARA
                  TEGAS ATAUPUN TERSIRAT SEHUBUNGAN DENGAN BERHASIL ATAU
                  TIDAKNYA SUATU PENGAJUAN ATAU KESIAPAN DARI SUATU PRODUK YANG
                  DISEDIAKAN OLEH PIHAK KETIGA;
                </li>
                <li>KAMI TIDAK MENYEDIAKAN JAMINAN BAHWA</li>
                <li class="ml-4">
                  FUNGSI DAN JASA YANG DISEDIAKAN OLEH SITUS AKAN BEBAS DARI
                  GANGGUAN ATAU KESALAHAN TERMASUK NAMUN TIDAK TERBATAS PADA
                  KEAMANAN SITUS INI;
                </li>
                <li class="ml-4">KELALAIAN AKAN DIPERBAIKI; ATAU</li>
                <li class="ml-4">
                  SITUS INI ATAU SERVER YANG MENYEDIAKAN SITUS INI AKAN BEBAS
                  DARI VIRUS ATAU KOMPONEN MALWARE;
                </li>
                <li>
                  KAMI TIDAK MEMBERIKAN GARANSI TENTANG AKURASI, KEASLIAN,
                  INTEGRITAS ATAU KUALITAS KONTEN, SITUS ATAU SUMBER ATAU TAUTAN
                  YANG ADA PADA SITUS, TERMASUK NAMUN TIDAK TERBATAS PADA
                  JAMINAN KONTEN, SITUS ATAU SUMBER YANG MUNGKIN MENGANDUNG
                  MATERI YANG MENGGANGGU, TIDAK ETIS ATAU MATERI YANG BELUM
                  PASTI;
                </li>
                <li>
                  SETIAP DAN SELURUH PRODUK YANG DIUNDUH ATAU DIDAPATKAN DARI
                  SITUS MERUPAKAN TANGGUNG JAWAB DAN RISIKO PRIBADI ANDA. ANDA
                  WAJIB BERTANGGUNGJAWAB SECARA PENUH ATAS KERUSAKAN SISTEM ATAU
                  KEHILANGAN DATA YANG DIAKIBATKAN OLEH PENGUNDUHAN MATERI
                  TERSEBUT.
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col text-left">
              <h1>Pembatasan Tanggung Jawab</h1>
              <p>
                Dalam hal terdapat sengketa dan/atau konflik, maka Kami berhak
                namun tidak berkewajiban untuk memediasi dan memfasilitasi
                persengketaan tersebut dan Anda dengan ini sepakat untuk
                memberikan indemnifikasi kepada Kami dan/atau membebaskan Kami
                dari segala jenis tuntutan, kehilangan atau kerugian yang
                mungkin Anda derita akibat sengketa dan/atau konflik tersebut
                (dengan atau tanpa peran serta kami dalam memediasi/
                memfasilitasi Anda).
              </p>
              <p>
                Anda dengan ini menerima dan menyetujui bahwa Kami bukan
                merupakan pihak penyedia jasa kepada Anda, bukan merupakan
                institusi keuangan, penyedia asuransi atau penasehat keuangan.
                Layanan Kami hanya terbatas pada menyediakan informasi yang
                diberikan oleh penyedia jasa Pihak Ketiga untuk menjembatani
                kebutuhan Anda dengan penyedia jasa pilihan Anda tersebut. Kami
                tidak membuat keputusan mengenai cakupan atau kredit dengan
                penyedia jasa yang Anda pilih. Kami tidak menyediakan produk
                keuangan secara langsung seperti penggadaian, pinjamaan,
                asuransi dan lain sebagainya.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col text-left">
              <h1>Pengabaian</h1>
              <p>
                Kegagalan pelaksanaan atau keterlambatan dalam melaksanakan hak,
                kuasa atau hak khusus Kami yang ada pada Syarat Penggunaan
                dan/atau Perjanjian Layanan tidak dianggap sebagai pengabaian
                dari hak tersebut; atau pelaksanaan satu atau sebagian dari hak,
                kuasa atau hak khusus berdasarkan Syarat Penggunaan dan/atau
                Perjanjian Layanan tidak dapat menghalangi pelaksanaan lain atau
                pelaksanaan lanjutan dari hak, kuasa atau hak khusus tersebut.
                Hak dan perbaikan yang disediakan disini bersifat kumulatif dan
                tidak ekslusif dari yang disediakan oleh Hukum.
              </p>
              <p>
                Anda setuju bahwa pada kejadian pemutusan, sejauh pemutusan
                tersebut membutuhkan keputusan pengadilan maka Anda dengan ini
                menyatakan setuju untuk mengabaikan Pasal 1266 Kitab
                Undang-Undang hukum Perdata hanya sejauh putusan pengadilan
                diperlukan untuk memutuskan atau membatalkan Syarat Penggunaan
                atau Perjanjian Layanan.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col text-left">
              <h1>Keadaan Memaksa</h1>
              <p>
                Kami tidak dapat dimintai pertanggungjawaban atas keterlambatan
                atau kegagalan dalam pelaksanaan Layanan berdasarkan Syarat
                Penggunaan ini sejauh keadaan tersebut diakibatkan oleh suatu
                Keadaan Memaksa.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col text-left">
              <h1>Situs ini- FAQ</h1>
              <p>
                Tiap Layanan disediakan oleh Kami, tim Uemka yang berkolaborasi
                untuk menyediakan jasa terbaik bagi Anda.
              </p>
              <p>
                Apabila terdapat pertanyaan harap merujuk pada pertanyaan di
                FAQs pada Situs web
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>