<template>
  <div id="wrapper">
    <Sidebar />
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid">
          <section>
            <form action="" method="POST" enctype="multipart/form-data">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <h1>Add Partner</h1>
                    <p>
                      Masukkan company profile perusahaan yang ingin didaftarkan
                    </p>
                    <img src="./garis.png" class="mb-3" alt="" />

                    <h5>Informasi Perusahaan</h5>
                    <br />
                    <h6 class="mb-4">Jenis perusahaan</h6>
                    <div class="form-check cek-1 form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="exampleRadios"
                        id="exampleRadios1"
                        value="option1"
                        checked
                      />
                      <label class="form-check-label" for="exampleRadios1">
                        Koperasi
                      </label>
                    </div>
                    <div class="form-check cek-2 form-check-inline mr-5">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="exampleRadios"
                        id="exampleRadios2"
                        value="option2"
                      />
                      <label class="form-check-label" for="exampleRadios2">
                        BPR
                      </label>
                    </div>
                    <div class="form-check cek-3 form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="exampleRadios"
                        id="exampleRadios2"
                        value="option2"
                      />
                      <label class="form-check-label" for="exampleRadios2">
                        Multifinance
                      </label>
                    </div>

                    <div class="form-group mt-4">
                      <label for="exampleInputEmail1">Nama perusahaan</label>
                      <input
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                      />
                    </div>
                    <div class="form-group mt-4">
                      <label for="exampleInputEmail1">Alamat perusahaan</label>
                      <input
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                      />
                    </div>
                    <div class="form-group mt-4">
                      <label for="exampleInputEmail1">Nomor telepon</label>
                      <input
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                      />
                    </div>
                    <div class="form-group mt-4">
                      <label for="exampleInputEmail1">Website</label>
                      <input
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                      />
                    </div>

                    <div class="form-group mt-4">
                      <label for="exampleInputEmail1">Deskripsi singkat</label>
                      <input
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                      />
                    </div>

                    <div class="form-group mt-4">
                      <label for="exampleInputEmail1">Visi dan Misi</label>
                      <input
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                      />
                    </div>

                    <div class="text-center">
                      <button class="btn btn-warning">
                        Daftarkan perusahaan
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </section>
        </div>
        <!-- /.container-fluid -->
      </div>

      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
    </div>
  </div>
</template>
<style scoped>
#content {
  background-color: rgb(255, 255, 255) !important;
}

button {
  color: #182940;
}

#content h1 {
  font-family: "Manrope";
  color: #182940;
  font-size: 36px;
  font-weight: 800;
}

#content p {
  font-family: "Manrope";
  color: #182940;
  font-size: 21px;
}
#content h5 {
  font-family: "Manrope";
  color: #182940;
  font-size: 21px;
}

#content .cek-1 {
  margin-right: 401px !important;
}
#content .cek-2 {
  margin-right: 350px !important;
}
</style>
<script>
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import Sidebar from "../../layouts/template/Sidebar.vue";
import DatePick from "vue-date-pick";
import "vue-date-pick/dist/vueDatePick.css";
export default {
  data() {
    return {
      editor: ClassicEditor,
      editorData: "<p>Mulai Mengetik Artikel  anda  </p>",
      editorConfig: {
        // The configuration of the editor.
      },
      data: () => ({
        date: "2019-01-01",
      }),
    };
  },
  components: {
    Sidebar,
    DatePick,
  },
};
</script>
<style scoped>
.box {
  position: relative;
  background: #ffffff;
  width: 100px;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}

.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  position: relative;
  width: 1050px;
  height: 150px;
}

.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 50px;
  font-size: 16px;
}

.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 100px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

.preview-zone {
  text-align: center;
}

.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}
</style>
