<template>
  <div id="wrapper">
    <Sidebar />
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid">
          <section>
            <form action="" method="POST" enctype="multipart/form-data">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <h1>Upload Testimoni</h1>
                    <p>Masukkan testimoni untuk landing page Uemka</p>
                    <img src="./garis.png" class="mb-3" alt="" />

                    <h5>Informasi Testimoni</h5>
                    <br />

                    <!-- <div class="form-group mt-4">
                      <label for="exampleInputEmail1">Judul</label>
                      <input
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                      />
                    </div> -->
                    <div class="form-group mt-4 upload">
                      <img src="./border.png" alt="" />
                      <div class="text-center">
                        <button type="file" class="btn btn-warning">
                          Klik untuk upload foto
                        </button>
                      </div>
                    </div>
                    <div class="form-group mt-5">
                      <label for="exampleInputEmail1">Judul Testimoni</label>
                      <input
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                      />
                    </div>
                    <div class="form-group mt-4">
                      <label for="exampleInputEmail1">Nama Mitra </label>
                      <input
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                      />
                    </div>
                    <div class="form-group mt-4">
                      <label for="exampleInputEmail1">Bisnis Mitra</label>
                      <input
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                      />
                    </div>

                    <!-- <div class="mb-4 mt-4">
                      <vue-editor v-model="content"></vue-editor>
                    </div> -->

                    <div class="text-center">
                      <button class="btn btn-warning">
                        Submit Testimonial
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </section>
        </div>
        <!-- /.container-fluid -->
      </div>

      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
    </div>
  </div>
</template>
<style scoped>
#content {
  background-color: rgb(255, 255, 255) !important;
}

.upload img {
  position: absolute;
  width: 98% !important;
  height: 13%;
}

.upload button {
  margin-top: 30px !important;
  font-family: "Manrope";
  color: #182940;
  font-size: 14px;
}
#content h1 {
  font-family: "Manrope";
  color: #182940;
  font-size: 36px;
  font-weight: 800;
}

button {
  color: #182940;
}
#content p {
  font-family: "Manrope";
  color: #182940;
  font-size: 21px;
}
#content h5 {
  font-family: "Manrope";
  color: #182940;
  font-size: 21px;
}

#content .cek-1 {
  margin-right: 401px !important;
}
#content .cek-2 {
  margin-right: 350px !important;
}
</style>
<script>
import Sidebar from "../../layouts/template/Sidebar.vue";
// import { VueEditor } from "vue2-editor";
export default {
  components: {
    Sidebar,
    VueEditor,
  },
  data() {
    return {
      content: "<h1>Some initial content</h1>",
    };
  },
};
</script>
<style scoped>
.box {
  position: relative;
  background: #ffffff;
  width: 100px;
}

.upload button {
  background-image: url("./border.png") !important;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}

.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  position: relative;
  width: 1050px;
  height: 150px;
}

.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 50px;
  font-size: 16px;
}

.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 100px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

.preview-zone {
  text-align: center;
}

.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}
</style>
