<template>
  <div id="wrapper">
    <Sidebar />
    <div class="container-fluid">
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800 mt-5 mb-5">Application Log</h1>

      <!-- DataTales Example -->
 
        <!-- <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div> -->
             <div class="table-responsive">
            <table class="table table-bordered"
       
              width="70%">
              <thead>
                <tr>
                  <th scope="col">Tanggal</th>
                  <th scope="col" class="text-center">Waktu</th>
                  <th scope="col">Aktivitas</th>
                  <th scope="col">Nama</th>
                  <th scope="col" class="text-right">Email</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">21 Nov 2020</th>
                  <td class="text-center">11:03 WIB</td>
                  <td>Login Client</td>
                  <td>Anyo Suroso</td>
                  <td class="text-right">AnyoSuroso@sitama.com</td>
                </tr>
                <tr>
                  <th scope="row">21 Nov 2020</th>
                  <td class="text-center">11:03 WIB</td>
                  <td>Login Client</td>
                  <td>Anyo Suroso</td>
                  <td class="text-right">AnyoSuroso@sitama.com</td>
                </tr>
                <tr>
                  <th scope="row">21 Nov 2020</th>
                  <td class="text-center">11:03 WIB</td>
                  <td>Login Client</td>
                  <td>Anyo Suroso</td>
                  <td class="text-right">AnyoSuroso@sitama.com</td>
                </tr>
                <tr>
                  <th scope="row">21 Nov 2020</th>
                  <td class="text-center">11:03 WIB</td>
                  <td>Login Client</td>
                  <td>Anyo Suroso</td>
                  <td class="text-right">AnyoSuroso@sitama.com</td>
                </tr>
                <tr>
                  <th scope="row">21 Nov 2020</th>
                  <td class="text-center">11:03 WIB</td>
                  <td>Login Client</td>
                  <td>Anyo Suroso</td>
                  <td class="text-right">AnyoSuroso@sitama.com</td>
                </tr>
                <tr>
                  <th scope="row">21 Nov 2020</th>
                  <td class="text-center">11:03 WIB</td>
                  <td>Login Client</td>
                  <td>Anyo Suroso</td>
                  <td class="text-right">AnyoSuroso@sitama.com</td>
                </tr>
                <tr>
                  <th scope="row">21 Nov 2020</th>
                  <td class="text-center">11:03 WIB</td>
                  <td>Login Client</td>
                  <td>Anyo Suroso</td>
                  <td class="text-right">AnyoSuroso@sitama.com</td>
                </tr>
                <tr>
                  <th scope="row">21 Nov 2020</th>
                  <td class="text-center">11:03 WIB</td>
                  <td>Login Client</td>
                  <td>Anyo Suroso</td>
                  <td class="text-right">AnyoSuroso@sitama.com</td>
                </tr>
              
             
              </tbody>
            </table>
          </div>
       
      
    </div>
  </div>
</template>
<style scoped>
h1 {
  font-family: "Manrope";
  font-size: 36px;
  font-style: normal;
  margin-bottom: 40px;
  font-weight: 800;
  color: #182940;
}
</style>
<script>
import Sidebar from "../../layouts/template/Sidebar.vue";
export default {
  components: {
    Sidebar,
  },
};
</script>