<template>
  <div id="wrapper">
    <Sidebar />
    <div class="container-fluid">
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800 mt-5 mb-4">Promosi</h1>
      <div class="text-right">
        <router-link to="/Uploadpromosi">
          <button class="btn btn-warning mb-3">
            <i class="fas fa-plus mr-3"></i>Input Promosi
          </button></router-link
        >
      </div>

      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <!-- <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div> -->
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-striped"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>Judul</th>
                  <th>Tanggal Upload</th>
                  <th>Upload By</th>
                  <th>Hyperlink</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Pinjaman tanpa jaminan!</td>
                  <td>11/12/2020 21:09 WIB</td>
                  <td>Nur Azizah</td>
                  <td>www.bfifinance.co.id</td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Pinjaman tanpa jaminan!</td>
                  <td>11/12/2020 21:09 WIB</td>
                  <td>Nur Azizah</td>
                  <td>www.bfifinance.co.id</td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Pinjaman tanpa jaminan!</td>
                  <td>11/12/2020 21:09 WIB</td>
                  <td>Nur Azizah</td>
                  <td>www.bfifinance.co.id</td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Pinjaman tanpa jaminan!</td>
                  <td>11/12/2020 21:09 WIB</td>
                  <td>Nur Azizah</td>
                  <td>www.bfifinance.co.id</td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Pinjaman tanpa jaminan!</td>
                  <td>11/12/2020 21:09 WIB</td>
                  <td>Nur Azizah</td>
                  <td>www.bfifinance.co.id</td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
table th {
  font-family: "Manrope" !important;
}
</style>
<script>
import Sidebar from "../../layouts/template/Sidebar.vue";
export default {
  components: {
    Sidebar,
  },
};
</script>