<template>
  <div id="wrapper">
    <Sidebar />
    <div class="container-fluid">
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800 mt-5 mb-5">List of Partner</h1>

      <!-- DataTales Example -->

      <!-- <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div> -->
      <div class="table-responsive">
        <table class="table table-bordered" width="70%">
          <thead>
            <tr>
              <th scope="col">Nama perusahaan</th>
              <th scope="col">Alamat</th>
              <th scope="col">Website</th>
              <th scope="col">Nama PIC</th>
              <th scope="col">Alamat PIC</th>
              <th scope="col">Tanggal daftar</th>
              <th scope="col">Action</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>KSP Sahabat Mitra</td>
              <td>Ruko ITC BSD</td>
              <td>www.ksp.com</td>
              <td>Ahmad Yudi</td>
              <td>BSD City</td>
              <td>11 Nov 2020</td>
              <td>
                <button class="btn btn-light p-2 mr-3">
                  <i class="fal fa-pencil-alt"></i></button
                ><button class="btn btn-light p-2">
                  <i class="fal fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>KSP Sahabat Mitra</td>
              <td>Ruko ITC BSD</td>
              <td>www.ksp.com</td>
              <td>Ahmad Yudi</td>
              <td>BSD City</td>
              <td>11 Nov 2020</td>
              <td>
                <button class="btn btn-light p-2 mr-3">
                  <i class="fal fa-pencil-alt"></i></button
                ><button class="btn btn-light p-2">
                  <i class="fal fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>KSP Sahabat Mitra</td>
              <td>Ruko ITC BSD</td>
              <td>www.ksp.com</td>
              <td>Ahmad Yudi</td>
              <td>BSD City</td>
              <td>11 Nov 2020</td>
              <td>
                <button class="btn btn-light p-2 mr-3">
                  <i class="fal fa-pencil-alt"></i></button
                ><button class="btn btn-light p-2">
                  <i class="fal fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>KSP Sahabat Mitra</td>
              <td>Ruko ITC BSD</td>
              <td>www.ksp.com</td>
              <td>Ahmad Yudi</td>
              <td>BSD City</td>
              <td>11 Nov 2020</td>
              <td>
                <button class="btn btn-light p-2 mr-3">
                  <i class="fal fa-pencil-alt"></i></button
                ><button class="btn btn-light p-2">
                  <i class="fal fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <nav aria-label="...">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item">
                <span class="page-link">
                  2
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item"><a class="page-link" href="#">6</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">7</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">8</a></li>
              <li class="page-item"><a class="page-link" href="#">9</a></li>
              <li class="page-item"><a class="page-link" href="#">10</a></li>
              <li class="page-item"><a class="page-link" href="#">11</a></li>
              <li class="page-item"><a class="page-link" href="#">12</a></li>
              <li class="page-item"><a class="page-link" href="#">13</a></li>
              <li class="page-item"><a class="page-link" href="#">14</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <table class="table table-bordered" width="70%">
            <thead>
              <tr>
                <th scope="col">Koperasi Simpan Pinjam</th>
                <th scope="col">Jumlah Pendaftar</th>
                <th scope="col">Pengajuan</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Koperasi ABC</td>
                <td>10</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Koperasi ABC</td>
                <td>10</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Koperasi ABC</td>
                <td>10</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>2 100</td>
                <td>12 210</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-6">
          <table class="table table-bordered" width="70%">
            <thead>
              <tr>
                <th scope="col">Bank Prekreditan Rakyat</th>
                <th scope="col">Jumlah Pendaftar</th>
                <th scope="col">Pengajuan</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Koperasi ABC</td>
                <td>10</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Koperasi ABC</td>
                <td>10</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Koperasi ABC</td>
                <td>10</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>2 100</td>
                <td>12 210</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
h1 {
  font-family: "Manrope";
  font-size: 36px;
  font-style: normal;
  margin-bottom: 40px;
  font-weight: 800;
  color: #182940;
}
</style>
<script>
import Sidebar from "../../layouts/template/Sidebar.vue";
export default {
  components: {
    Sidebar,
  },
};
</script>