<template>
  <div id="wrapper">
    <Sidebar />
    <div class="container-fluid">
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800 mt-5">Partner</h1>

      <div class="text-right">
        <router-link to="/Addpartner">
          <button class="btn btn-warning mb-3">
            <i class="fas fa-plus mr-3"></i>Add Partner
          </button></router-link
        >
      </div>
      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <!-- <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div> -->
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-striped"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>Nama Perusahaan</th>
                  <th>Alamat</th>
                  <th>Nomor Telepon</th>
                  <th>Website</th>
                  <th>Action</th>
                  <th>Lihat Produk</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>PT SITAMA</td>
                  <td>Lengkong Gudang, Serpong Sub-District</td>
                  <td>0811 0111-2311</td>
                  <td>www.sip.co.id</td>
                  <td>
                    <button class="btn btn-light p-2 mr-3 ">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                  <td><button class="btn btn-warning p-2 btn-block">Produk</button></td>
                </tr>
                <tr>
                  <td>PT SITAMA</td>
                  <td>Lengkong Gudang, Serpong Sub-District</td>
                  <td>0811 0111-2311</td>
                  <td>www.sip.co.id</td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                  <td><button class="btn btn-warning p-2 btn-block">Produk</button></td>
                </tr>
                <tr>
                  <td>PT SITAMA</td>
                  <td>Lengkong Gudang, Serpong Sub-District</td>
                  <td>0811 0111-2311</td>
                  <td>www.sip.co.id</td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                  <td><button class="btn btn-warning p-2 btn-block">Produk</button></td>
                </tr>
                <tr>
                  <td>PT SITAMA</td>
                  <td>Lengkong Gudang, Serpong Sub-District</td>
                  <td>0811 0111-2311</td>
                  <td>www.sip.co.id</td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                  <td><button class="btn btn-warning p-2 btn-block">Produk</button></td>
                </tr>
                <tr>
                  <td>PT SITAMA</td>
                  <td>Lengkong Gudang, Serpong Sub-District</td>
                  <td>0811 0111-2311</td>
                  <td>www.sip.co.id</td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                  <td><button class="btn btn-warning p-2 btn-block">Produk</button></td>
                </tr>
                <tr>
                  <td>PT SITAMA</td>
                  <td>Lengkong Gudang, Serpong Sub-District</td>
                  <td>0811 0111-2311</td>
                  <td>www.sip.co.id</td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                  <td><button class="btn btn-warning p-2 btn-block">Produk</button></td>
                </tr>
                <tr>
                  <td>PT SITAMA</td>
                  <td>Lengkong Gudang, Serpong Sub-District</td>
                  <td>0811 0111-2311</td>
                  <td>www.sip.co.id</td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                  <td><button class="btn btn-warning p-2 btn-block">Produk</button></td>
                </tr>
                <tr>
                  <td>PT SITAMA</td>
                  <td>Lengkong Gudang, Serpong Sub-District</td>
                  <td>0811 0111-2311</td>
                  <td>www.sip.co.id</td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                  <td><button class="btn btn-warning p-2 btn-block">Produk</button></td>
                </tr>
                <tr>
                  <td>PT SIP</td>
                  <td>Lengkong Gudang, Serpong Sub-District</td>
                  <td>0811 0111-2311</td>
                  <td>www.sip.co.id</td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                  <td><button class="btn btn-warning p-2 btn-block">Produk</button></td>
                </tr>
                <tr>
                  <td>PT MAKMUR</td>
                  <td>Lengkong Gudang, Serpong Sub-District</td>
                  <td>0811 0111-2311</td>
                  <td>www.sip.co.id</td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                  <td><button class="btn btn-warning p-2 btn-block">Produk</button></td>
                </tr>
                <tr>
                  <td>PT SITAMA</td>
                  <td>Lengkong Gudang, Serpong Sub-District</td>
                  <td>0811 0111-2311</td>
                  <td>www.sip.co.id</td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                  <td><button class="btn btn-warning p-2">Produk</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
button {
  color: #000;
}
</style>
<script>
import Sidebar from "../../layouts/template/Sidebar.vue";
export default {
  components: {
    Sidebar,
  },
};
</script>