<template>
  <div id="wrapper">
    <Sidebar />
    <div class="container-fluid">
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800 mt-5 mb-4">Produk PT SIP</h1>
      <div class="text-right">
        <router-link to="/Addproduk">
          <button class="btn btn-warning mb-3">
            <i class="fas fa-plus mr-3"></i>Add Produk
          </button></router-link
        >
      </div>

      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <!-- <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div> -->
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-striped"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>Product id</th>
                  <th>Nama produk</th>
                  <th>Deskripsi</th>
                  <th>Persyaratan</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>3213122222223</td>
                  <td>Peminjaman modal 4% <br />khusus UMKM 6 bulan</td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                <tr>
                  <td>3213122222223</td>
                  <td>Peminjaman modal 4% <br />khusus UMKM 6 bulan</td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                <tr>
                  <td>3213122222223</td>
                  <td>Peminjaman modal 4% <br />khusus UMKM 6 bulan</td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                <tr>
                  <td>3213122222223</td>
                  <td>Peminjaman modal 4% <br />khusus UMKM 6 bulan</td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                <tr>
                  <td>3213122222223</td>
                  <td>Peminjaman modal 4% <br />khusus UMKM 6 bulan</td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                <tr>
                  <td>3213122222223</td>
                  <td>Peminjaman modal 4% <br />khusus UMKM 6 bulan</td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                <tr>
                  <td>3213122222223</td>
                  <td>Peminjaman modal 4% <br />khusus UMKM 6 bulan</td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>3213122222223</td>
                  <td>Peminjaman modal 4% <br />khusus UMKM 6 bulan</td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>3213122222223</td>
                  <td>Peminjaman modal 4% <br />khusus UMKM 6 bulan</td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                 <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>3213122222223</td>
                  <td>Peminjaman modal 4% <br />khusus UMKM 6 bulan</td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    Id massa et donec nulla <br />
                    ut vitae ultricies.
                  </td>
                  <td>
                    <button class="btn btn-light p-2 mr-3">
                      <i class="fad fa-pencil-alt"></i></button
                    ><button class="btn btn-light p-2">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Sidebar from "../../layouts/template/Sidebar.vue";
export default {
  components: {
    Sidebar,
  },
};
</script>