<template>
  <div id="wrapper">
    <Sidebar />
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid">
          <main id="main">
            <div class="container">
              <div class="row">
                <div class="col mt-5">
                  <h1>Profile Anda</h1>
                  <p>Selamat datang,Tegar</p>
                </div>
              </div>
              <div class="row text-center">
                <div class="col Profile">
                  <img src="/assets/img/lilo.png" class="rounded-circle" />
                </div>
              
              </div>

              <div class="row justify-content-center mt-3">
                <div class="col-sm-6">
                  <div class="media">
                    <img src="/assets/img/user.png" class="mr-3" alt="" />
                    <div class="media-body">
                      <div class="testimonial">
                        <p>Nama lengkap</p>
                        <p class="overview">Lilo Digdya Pasha Santoso</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-sm-6">
                  <div class="media">
                    <img src="/assets/img/telp.png" class="mr-3" alt="" />
                    <div class="media-body">
                      <div class="testimonial">
                        <p>Nomor telepon</p>
                        <p class="overview">0821 2312-2312</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-sm-6">
                  <div class="media">
                    <img src="/assets/img/mail.png" class="mr-3" alt="" />
                    <div class="media-body">
                      <div class="testimonial">
                        <p>Email</p>
                        <p class="overview">lilopsh@yahoo.com</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
        <!-- /.container-fluid -->
      </div>

      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
    </div>
  </div>
</template>

<script>
import Sidebar from "../../layouts/template/Sidebar.vue";

export default {
  components: {
    Sidebar,
  },
};
</script>
