<template>
  <div>
    <!-- ======= Header ======= -->
    <header id="header">
      <div class="container d-flex">
        <div class="logo mr-auto">
          <h1 class="text-light">
            <img src="/images/header.png" alt="" />
          </h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="/">Tentang Kami</a></li>

            <li><a href="/Promosipage">Promosi</a></li>
            <li>
              <a href="/Artikel">Artikel</a>
            </li>

            <!-- <li>
              <a
                href="#"
                class="pt-1"
                data-toggle="modal"
                data-target="#exampleModal"
              >
                <svg
                  width="24"
                  height="36"
                  viewBox="0 0 24 36"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20.9655 0.758621H3.0345C2.30287 0.758621 1.6012 1.04926 1.08386 1.5666C0.566518 2.08394 0.275879 2.78561 0.275879 3.51724V32.4828C0.275879 33.2144 0.566518 33.9161 1.08386 34.4334C1.6012 34.9507 2.30287 35.2414 3.0345 35.2414H20.9655C21.6972 35.2414 22.3988 34.9507 22.9162 34.4334C23.4335 33.9161 23.7242 33.2144 23.7242 32.4828V3.51724C23.7242 2.78561 23.4335 2.08394 22.9162 1.5666C22.3988 1.04926 21.6972 0.758621 20.9655 0.758621ZM5.10347 21.4483C5.37526 21.4484 5.64437 21.502 5.89544 21.6061C6.1465 21.7102 6.37461 21.8627 6.56673 22.055C6.75885 22.2472 6.91123 22.4754 7.01515 22.7265C7.11908 22.9777 7.17252 23.2468 7.17243 23.5186C7.17234 23.7904 7.11872 24.0595 7.01462 24.3106C6.91053 24.5617 6.75801 24.7898 6.56576 24.9819C6.37351 25.174 6.1453 25.3264 5.89416 25.4303C5.64302 25.5342 5.37388 25.5877 5.10209 25.5876C4.55318 25.5874 4.02683 25.3692 3.63882 24.9809C3.25081 24.5926 3.03294 24.0661 3.03312 23.5172C3.0333 22.9683 3.25153 22.442 3.6398 22.054C4.02806 21.666 4.55456 21.4481 5.10347 21.4483ZM3.0345 16.6207C3.03468 16.0718 3.25291 15.5454 3.64117 15.1574C4.02944 14.7694 4.55594 14.5515 5.10485 14.5517C5.65375 14.5519 6.1801 14.7701 6.56811 15.1584C6.95612 15.5467 7.17399 16.0732 7.17381 16.6221C7.17363 17.171 6.9554 17.6973 6.56713 18.0853C6.17887 18.4733 5.65237 18.6912 5.10347 18.691C4.55456 18.6909 4.02821 18.4726 3.6402 18.0844C3.25219 17.6961 3.03432 17.1696 3.0345 16.6207ZM12 32.4828H5.10347C4.55474 32.4828 4.02849 32.2648 3.64049 31.8768C3.25248 31.4888 3.0345 30.9625 3.0345 30.4138C3.0345 29.8651 3.25248 29.3388 3.64049 28.9508C4.02849 28.5628 4.55474 28.3448 5.10347 28.3448H12C12.5487 28.3448 13.075 28.5628 13.463 28.9508C13.851 29.3388 14.069 29.8651 14.069 30.4138C14.069 30.9625 13.851 31.4888 13.463 31.8768C13.075 32.2648 12.5487 32.4828 12 32.4828ZM12 25.5862C11.7282 25.5861 11.4591 25.5325 11.208 25.4284C10.957 25.3243 10.7289 25.1718 10.5368 24.9795C10.3446 24.7873 10.1923 24.5591 10.0883 24.3079C9.9844 24.0568 9.93096 23.7877 9.93105 23.5159C9.93114 23.2441 9.98477 22.975 10.0889 22.7239C10.193 22.4728 10.3455 22.2447 10.5377 22.0526C10.73 21.8605 10.9582 21.7081 11.2093 21.6042C11.4605 21.5002 11.7296 21.4468 12.0014 21.4469C12.5503 21.4471 13.0767 21.6653 13.4647 22.0536C13.8527 22.4418 14.0705 22.9683 14.0704 23.5172C14.0702 24.0661 13.852 24.5925 13.4637 24.9805C13.0754 25.3685 12.5489 25.5864 12 25.5862ZM12 18.6897C11.4511 18.6895 10.9248 18.4712 10.5368 18.083C10.1487 17.6947 9.93087 17.1682 9.93105 16.6193C9.93123 16.0704 10.1495 15.5441 10.5377 15.156C10.926 14.768 11.4525 14.5502 12.0014 14.5503C12.5503 14.5505 13.0767 14.7688 13.4647 15.157C13.8527 15.5453 14.0705 16.0718 14.0704 16.6207C14.0702 17.1696 13.852 17.6959 13.4637 18.084C13.0754 18.472 12.5489 18.6898 12 18.6897ZM18.8966 32.4828C18.3477 32.4826 17.8213 32.2643 17.4333 31.8761C17.0453 31.4878 16.8274 30.9613 16.8276 30.4124C16.8278 29.8635 17.046 29.3372 17.4343 28.9491C17.8225 28.5611 18.349 28.3433 18.8979 28.3434C19.1697 28.3435 19.4389 28.3972 19.6899 28.5013C19.941 28.6053 20.1691 28.7579 20.3612 28.9501C20.5533 29.1424 20.7057 29.3706 20.8096 29.6217C20.9136 29.8729 20.967 30.142 20.9669 30.4138C20.9668 30.6856 20.9132 30.9547 20.8091 31.2058C20.705 31.4568 20.5525 31.6849 20.3602 31.8771C20.168 32.0692 19.9398 32.2216 19.6886 32.3255C19.4375 32.4294 19.1684 32.4828 18.8966 32.4828ZM18.8966 25.5862C18.6248 25.5861 18.3557 25.5325 18.1046 25.4284C17.8535 25.3243 17.6254 25.1718 17.4333 24.9795C17.2412 24.7873 17.0888 24.5591 16.9849 24.3079C16.881 24.0568 16.8275 23.7877 16.8276 23.5159C16.8277 23.2441 16.8813 22.975 16.9854 22.7239C17.0895 22.4728 17.242 22.2447 17.4343 22.0526C17.6265 21.8605 17.8547 21.7081 18.1059 21.6042C18.357 21.5002 18.6262 21.4468 18.8979 21.4469C19.4469 21.4471 19.9732 21.6653 20.3612 22.0536C20.7492 22.4418 20.9671 22.9683 20.9669 23.5172C20.9667 24.0661 20.7485 24.5925 20.3602 24.9805C19.972 25.3685 19.4455 25.5864 18.8966 25.5862ZM18.8966 18.6897C18.3477 18.6895 17.8213 18.4712 17.4333 18.083C17.0453 17.6947 16.8274 17.1682 16.8276 16.6193C16.8278 16.0704 17.046 15.5441 17.4343 15.156C17.8225 14.768 18.349 14.5502 18.8979 14.5503C19.4469 14.5505 19.9732 14.7688 20.3612 15.157C20.7492 15.5453 20.9671 16.0718 20.9669 16.6207C20.9667 17.1696 20.7485 17.6959 20.3602 18.084C19.972 18.472 19.4455 18.6898 18.8966 18.6897ZM20.9655 9.03448C20.9655 9.76611 20.6749 10.4678 20.1576 10.9851C19.6402 11.5025 18.9385 11.7931 18.2069 11.7931H5.79312C5.06149 11.7931 4.35982 11.5025 3.84248 10.9851C3.32514 10.4678 3.0345 9.76611 3.0345 9.03448V6.27586C3.0345 5.54423 3.32514 4.84256 3.84248 4.32522C4.35982 3.80788 5.06149 3.51724 5.79312 3.51724H18.2069C18.9385 3.51724 19.6402 3.80788 20.1576 4.32522C20.6749 4.84256 20.9655 5.54423 20.9655 6.27586V9.03448Z"
                    fill="#FDC134"
                  />
                </svg>
              </a>
            </li> -->
            <li>
              <router-link to="/masuk">
                <button class="btn btn-outline ml-3">Masuk</button>
              </router-link>
            </li>
            <li>
              <router-link to="/daftar">
                <button class="btn btn-warning ml-3">Daftar</button>
              </router-link>
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-confirm modal-lg">
        <div
          class="modal-content"
          style="position: absolute; padding-left: 36px"
        >
          <div class="modal-header justify-content-center">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
              style="color: black"
            >
              &times;
            </button>
          </div>
          <div class="modal-body text-center">
            <h4><b>Kalkulator Peminjaman</b></h4>
          </div>
          <div>
            <select
              name="partner"
              id="partner"
              @change="partnertSelected"
              class="form-control"
            >
              <option
                v-for="part in partner"
                :key="part.idpartner"
                :value="part.idpartner"
              >
                {{ part.nama_partner }}
              </option>
              Selected :
              {{
                selected
              }}
            </select>
          </div>
          <br />
          <br />
          <div class="row">
            <div class="col-md-5 table">
              <!-- <label class="pt-4">Jumlah pinjaman</label> -->
              <label class="pt-4">Tipe Pinjaman</label>
              <select
                name="nameproduct"
                id="nameproduct"
                @change="productSelected"
                class="form-control"
                v-model="nama_product"
              >
                <option
                  v-for="pro in product"
                  :key="pro.idproduct"
                  :value="pro.idproduct"
                >
                  {{ pro.nama_product }}
                </option>
              </select>
              <label class="pt-4">Jumlah pinjaman</label>
              <input
                type="text"
                v-model="currentValue"
                @input="handleInput"
                id="uang"
                name="uang"
                class="form-control uang"
              />
              <label class="pt-4">Interest rate (%)</label>
              <!-- <span>  </span> -->
              <!-- <label type="text" v-for="interest in rate" :key="interest.idproduct"  class="form-control"/> -->
              <select
                name="interest"
                id="interest"
                class="form-control"
                v-model="interestrate"
              >
                <option
                  v-for="interest in rate"
                  :key="interest.idproduct"
                  :value="interest.idproduct"
                >
                  {{ interest.interestrate }}
                </option>
              </select>
              <label class="pt-4">Jangka waktu pembayaran</label>
              <select name="jangkawaktu" id="jangkawaktu" class="form-control">
                <option disabled>Pilih Jangka Waktu</option>
                <option value="6">6</option>
                <option value="12">12</option>
                <option value="18">18</option>
                <option value="24">24</option>
                <option value="36">36</option>
                <option value="48">48</option>
                <option value="60">60</option>
              </select>
              <div class="text-center pt-3 pb-3">
                <button class="btn btn-warning">Kalkulasi</button>
              </div>
            </div>
            <div class="col-md-6 ml-4 table2">
              <div>
                <p>Montly Payment <br />(Principal + Interest)</p>
              </div>

              <div>
                <h1>Rp 1.000.000</h1>
                <p><span>Per Bulan</span></p>
                <button class="btn btn-warning">Ajukan Pinjaman</button>
              </div>
            </div>
          </div>

          <!-- <div class="row">
          <div class="col-md-4 pt-4 pl-3 tabmodal" style="border: 2px solid #E9ECEE; margin-left: -10px!important; margin-bottom: 50px; ">
            <label>Tipe pinjaman</label>
            <input type="text" class="form-control">
            <label class="pt-4">Jumlah pinjaman</label>
            <input type="text" class="form-control">
            <label class="pt-4">Interest rate (%)</label>
            <input type="text" class="form-control">
            <label class="pt-4">Jangka waktu pembayaran</label>
            <input type="text" class="form-control">
            <label class="pt-4">Banyak cicilan</label>
            <input type="text" class="form-control">
            <div class="text-center pt-3 pb-3">
              <button class="btn btn-warning">Kalkulasi</button>
            </div>
          </div>
          <br>
          <br>
          <div class="col-md-7 ml-4" style="border: 2px solid #e9ecee;">
            <div class="row m-auto text-center jojo" style="  margin-left: -80px!important; margin-bottom: 50px;">
              <p>Montly Payment <br>(Principal + Interest)</p>
            </div>
            <div class="lala" style="padding-left: 100px; padding-top: 140px;">
              <h1>Rp. 1.000.000</h1>
            </div>
            <div class="pipi" style="padding-left: 200px;
            padding-top: 50px;">
              <p>Perbulan</p>
            </div>
            <div class="text-center sasa" style="padding-top: 40px;
            padding-left: 50px;">
              <button class="btn btn-warning">Ajukan Pinjaman</button>
            </div>
          </div>
        </div> -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      partner: [],
      product: [],
      // option: [
      //   axios.get("https://uemka.sitama.co.id/api/auth/product").then(response => {
      //   this.product = response.data;
      // }),
      // ]
      rate: [],
      currentValue: "",
    };
  },
  watch: {
    value: {
      handler(after) {
        this.currentValue = this.format(after);
      },
      immediate: true,
    },
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData(event) {
      axios.get("https://uemka.sitama.co.id/api/auth/partner").then((response) => {
        this.partner = response.data;
      });
      // axios.get("https://uemka.sitama.co.id/api/auth/product/partner/" + event.target.value).then(response => {
      //   this.product = response.data;
      // });
    },
    partnertSelected(event) {
      console.log(event.target.value);
      axios
        .get(
          "https://uemka.sitama.co.id/api/auth/product/partner/" + event.target.value
        )
        .then((response) => {
          this.product = response.data;
        });
    },
    productSelected(event) {
      console.log(event.target.value);
      axios
        .get(
          "https://uemka.sitama.co.id/api/auth/product/rate/" + event.target.value
        )
        .then((response) => {
          this.rate = response.data;
        });
    },
    format: (value) =>
      (value + "").replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, "."),

    handleInput() {
      this.currentValue = this.format(this.currentValue);
      this.$emit("input", (this.currentValue + "").replace(/[^0-9]/g, ""));
    },
  },
  // data() {
  //   return {
  //     partners:[]
  //   }
  // },
  // methods:{
  //   getPartner : function(){
  //     axios.get('http://127.0.0.1:8000/api/auth/partner')
  //     .then(function (response) {
  //       this.partner = response.data;
  //     }.bind(this))
  //   }
  // }
  // created(){
  //   this.axios
  //   .get('https://uemka.sitama.co.id/api/auth/partner')
  //   .then(response => {
  //     this.partner = response.data;
  //   })
};
</script>
